{% extends "admin/change_form.html" %}

{% load i18n admin_urls jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
       <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} form-control" value="Save and Preview" name="preview_document"> 
        <!-- <a href="google.com" target="_blank" class="btn {{ jazzmin_ui.button_classes.info }} form-control">{% trans 'Preview Button' %} </a> -->
    </div>
{% endblock %}

