{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block content %}

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">    -->

<style>

/* @-moz-document url-prefix() {
    select {
        direction:rtl;
        width: auto;
    }
    option{
        text-align: left;
    }
} */

    .categories_guide_item {
        padding: 0px !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    .categories_guide_item img {
        margin-bottom: 0px !important;
    }

    .tab-pane {
        margin-top: 75px;
    }

    .tab-content {
        padding: 0 20px;
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .com-title {
        font-size: 0.8rem !important;
        font-style: italic;
        text-transform: uppercase;
    }

    .community-box {
        padding: 20px 15px;
        box-shadow: 1px 2px 3px 2px rgba(2, 47, 57, 0.14);
    }

    .community-content {
        min-height: 160px;
    }

    .fact_navigation_info {
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        padding: 40px 30px 28px;
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .org-content {
        /* background-color: #dde3ee; */
        /* background-image: linear-gradient(to left bottom, #eeeeee, #ecedee, #eaebee, #e7eaee, #e4e9ee); */
        /* border: 1px solid #d9ddea; */
        padding: 10px;
        margin: 10px 0px;
    }

    .org-img {
        width: 90px;
        margin-bottom: 10px;
    }

   .list {
        width: auto !important;
    }

    .doc_border_btn i {
        margin-left: 20px;
    }


    /*=========== Start Slider css (MNH) ============*/



    .slide_section {
        position: inherit;
        width: 100%;
        height: auto;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.16);
        /* margin-bottom: 100px; */
        z-index: 100;
    }

    .slide {
        position: relative;
        background: #F8F9FA;
        height: 500px;
        flex: 1;
        border-right: 1px solid rgba(0, 0, 0, 0.16);
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .slide:last-child {
        border-right: none;
    }

    .slide:hover {
        flex-grow: 6;
        /* transform: scale(1.05, 1.05); */
        /* -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 65%; */
    }

    .inner {
        height: 500px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    /* .slide:nth-child(1)
{
    background: url(../static/img/slider-img/S1.jpg);
    background-position: center center;
}

.slide:nth-child(2)
{
    background: url(../static/img/slider-img/S2.jpg);
    background-position: center center;
}

.slide:nth-child(3)
{
    background: url(../static/img/slider-img/S3.jpg);
    background-position: center center;
}

.slide:nth-child(4)
{
    background: url(../static/img/slider-img/S4.jpg);
    background-position: center center;
} */

    .slide .content {
        position: absolute;
        bottom: 0;
        margin: 20px;
        padding: 10px;
        background: #000;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0s;
        transform: translateY(100px);
        /* width:100%; */
    }

    .slide:hover .inner {
        transform: scale(1.2);
    }

    .slide:hover .content {
        visibility: visible;
        opacity: 0.7;
        transition: 0.5s;
        transition-delay: 0.2s;
        transform: translateY(0);
    }

    /*.slick-track {
    /* transition-delay: 2s !important; 
    /* transition: transform 1s !important; 
} */

    .item {
        margin: 20px;
    }

    /* https://www.youtube.com/watch?v=uDDGsq0Xf2Y */
    /*=========== End Slider css (MNH) ============*/

/*=========== SVG css (MNH) ============*/
.water-wave {
  display: block;
  width: 100%;
  height: 14rem;
  max-height: 150vh;
  margin: 0;
}

.parallax > use {
  animation:move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1){animation-delay:-3s;}
.parallax > use:nth-child(2){animation-delay:-3s; animation-duration:4.25s}
.parallax > use:nth-child(3){animation-delay:-3s; animation-duration:5.25s}
.parallax > use:nth-child(4){animation-delay:-5s; animation-duration:3.25s}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)} 
}


</style>

<div class="row">
    <a href="{% url 'home' %}" class="doc_border_btn" style="opacity: 0.8; margin: 10px 30px; padding: 6px 15px;"><i class="arrow_left" style="margin-right: 10px; margin-left: 0px;"></i>Back</a>
</div>
<div class="section_title text-center" style="margin-bottom: 20px;">
    <h5 class="wow fadeInUp">Search by Document Type</h5>
</div>



<!-- Categorywise search -->
<section class="doc_faq_area_two sec_pad">
    <div class="container">
        
        <!-- <div class="section_title text-center" style="margin-bottom: 10px; margin-top:30px;">
            <h5 class="wow fadeInUp">Important Links</h2>            
        </div> -->
        <div class="row">                            
            <div class="col-md-4 mt-3">
                <!-- <a href="#" class="col-sm-12 doc_border_btn"><i class="arrow_right"></i></a>    style="color:#019d19;"  ="icon_cloud-upload_alt"  -->
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px; ">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Knowledge Base</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>                                
            <div class="col-md-4 mt-3">
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px;">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Research & Publications</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px;">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Analysis & Reporting</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px;">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Documentation</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>               
            <div class="col-md-4 mt-3">
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px;">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Publication</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>   
            <div class="col-md-4 mt-3">
                <div href="#" class="doc_border_btn" style="width: 100%; padding: 20px 5px;">
                    <i class="arrow_carrot-2right"></i><span style="margin-left: 20px;">Plan</span><i class="arrow_right"></i>
                    <div class="form-check" style="float: right; bottom: 22px; right: -8px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                    </div>
                </div>
            </div>               
        </div>
            
        
    </div>
</section>


<!-- searchbox area section    -->
<!-- <div class="row">
    <div class="col-md-12"> -->
<section class="breadcrumb_area" style="background-image: none; padding:0; margin-top: 25PX;;">

    <div class="container" style="padding: 0;">
        <form action="{% url 'SearchResult1' %}" class="banner_search_form banner_search_form_two" style="margin: 0px 10px; padding: 0; max-width: 100%; border: 1px solid #009abb;">   <!--  #019d19; -->
            <div class="input-group">
                <input type="search" class="form-control" placeholder='Search...'>
                <div class="input-group-append">
                    <select class="custom-select" id="inlineFormCustomSelect" >
                        <option value="-1"selected>All Organization</option>
                        <option value="1">Bangladesh Water Development Board</option>
                        <option value="2">River Research Institute (RRI)</option>
                        <option value="3">Joint Rivers Commission, Bangladesh</option>
                        <option value="4">Department of Bangladesh Haor and Wetlands Development</option>
                        <option value="5">Water Resources Planning Organization (WARPO)</option>
                        <option value="6">Institute of Water Modelling</option>
                        <option value="7">Center for Environmental and Geographic Information Services (CEGIS)</option>                        
                    </select>
                </div>
                <button type="submit"><i class="icon_search"></i></button>
            </div>
        </form>
    </div>
</section>
<!-- </div>
</div> -->

<br />


<!-- <h1>MoWR Home</h1> -->
<section class="doc_categories_guide_area sec_pad d-none">
    <div class="container">
        <!-- <div class="section_title text-center" style="margin-bottom: 50px; margin-top:50px;">
            <h2 class="h_title wow fadeInUp">Check out our guide categories</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">Some dodgy chav bevvy amongst argy-bargy spiffing
                absolutely bladdered nancy boy cup of tea a load of old tosh porkies.</p>
        </div> -->
        <!-- <div class="section_title text-center" style="margin-bottom: 20px;">
            <h5 class="wow fadeInUp">Type of Documentation</h5>
        </div> -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="categories_guide_item wow fadeInUp">
                    <div class="card text-dark bg-light mb-3">
                        <!-- style="max-width: 18rem;" -->                                                
                        <div class="card-header">
                            <div class="col-md-4"><img src="{% static 'img/home_one/KB.png' %}" alt="" style="width: 65px;" /> </div>
                            <div class="form-check" style="float: right; bottom: 65px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                            </div>
                        </div>
                        <div class="card-body" style="min-height: 150px; padding: 1rem;">
                            <h5 class="card-title">Knowledge Base</h5>
                            <p class="card-text">List of headings is a hierarchical classification system.</p>
                        </div>
                    </div>
                    <!-- <a href="#" class="doc_border_btn">More<i class="arrow_right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="categories_guide_item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="card text-dark bg-light mb-3">
                        <!-- style="max-width: 18rem;" -->
                        <div class="card-header">
                            <div class="col-md-4"><img src="{% static 'img/home_one/RP.png' %}" alt="" style="width: 65px;" /> </div>
                            <div class="form-check" style="float: right; bottom: 65px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                            </div>
                        </div>
                        <div class="card-body" style="min-height: 150px; padding: 1rem;">
                            <h5 class="card-title">Research & Publications</h5>
                            <p class="card-text">Electronic Library, New Publication, Economic & Financial Aspects.</p>
                        </div>
                    </div>
                    <!-- <a href="#" class="doc_border_btn">More<i class="arrow_right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="categories_guide_item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="card text-dark bg-light mb-3">
                        <!-- style="max-width: 18rem;" -->
                        <div class="card-header">
                            <div class="col-md-4"><img src="{% static 'img/home_one/AR.png' %}" alt="" style="width: 65px;" /> </div>
                            <div class="form-check" style="float: right; bottom: 65px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                            </div>
                        </div>
                        <div class="card-body" style="min-height: 150px; padding: 1rem;">
                            <h5 class="card-title">Analysis & Reporting</h5>
                            <p class="card-text">Summarized Information, Dynamic Visualization of Decision Making
                                Information.</p>
                        </div>
                    </div>
                    <!-- <a href="#" class="doc_border_btn">More<i class="arrow_right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="categories_guide_item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="card text-dark bg-light mb-3">
                        <!-- style="max-width: 18rem;" -->
                        <div class="card-header">
                            <div class="col-md-4"><img src="{% static 'img/home_one/Documentation.png' %}" alt="" style="width: 65px;" /> </div>
                            <div class="form-check" style="float: right; bottom: 65px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                
                            </div>
                        </div>
                        <div class="card-body" style="min-height: 150px; padding: 1rem;">
                            <h5 class="card-title">Documentation</h5>
                            <p class="card-text">
                                Proper Management of Publication & Documents According to Categories.</p>
                        </div>
                    </div>
                    <!-- <a href="#" class="doc_border_btn">More<i class="arrow_right"></i></a> -->
                </div>
            </div>
        </div>

    </div>
</section>



<!-- Chart Reports -->
<!-- <section class="doc_categories_guide_area sec_pad">
    <div class="container">
        <div class="section_title text-center" style="margin-top: 50px;">
            <h2 class="h_title wow fadeInUp">Chart Reports</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">Some dodgy chav bevvy amongst argy-bargy spiffing
                absolutely bladdered nancy boy cup of tea a load of old tosh porkies.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp">
                    <div class="card text-dark bg-light mb-3">                        
                        <div class="card-body">
                            <div class="col-md-12 text-center"><img src="{% static 'img/home_one/Chart_Bar.png' %}"
                                    alt="" width="100%" />
                            </div>                            
                        </div>
                    </div>                   
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp">
                    <div class="card text-dark bg-light mb-3">                        
                        <div class="card-body">
                            <div class="col-md-12 text-center"><img src="{% static 'img/home_one/Chart_Pie.png' %}"
                                    alt="" width="100%" />
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp">
                    <div class="card text-dark bg-light mb-3">                        
                        <div class="card-body">
                            <div class="col-md-12 text-center"><img src="{% static 'img/home_one/Chart_Line.png' %}"
                                    alt="" width="100%" />
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>

        </div>
    </div>
</section> -->


<!-- Tooltip content -->
<div class="tooltip_templates d-none">
    <div id="tooltipCategories" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>
<div class="tooltip_templates d-none">
    <div id="tooltipTopics" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>
<div class="tooltip_templates d-none">
    <div id="tooltipArticles" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>
<div class="tooltip_templates d-none">
    <div id="tooltipPublications" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>
<div class="tooltip_templates d-none">
    <div id="tooltipReports" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>
<div class="tooltip_templates d-none">
    <div id="tooltipReferences" class="tip_content">
        <div class="text">
            <p>Me old mucker bamboozled horse play fantastic skive off baking cakes knees up lurgy spiffing.</p>
        </div>
    </div>
</div>


{% endblock %}