{% extends 'main.html' %}
{% load static %}


{% block style_content %}

<style>
    
    .container {
        max-width: 100% !important;
    }

    .container-fluid {
        max-width: 95% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    
    .community-box {
        margin: 0;
        margin-bottom: 1.25rem;
        padding: 1rem 0;
        box-shadow: 1px 2px 3px 2px rgba(5, 45, 58, 0.15);
        border-radius: 0.25rem;
    }

    .community-content {
        min-height: 10rem;
    }

    
    .cat-content {
        display: inline-block;
        border: 2px solid #75cade;
        min-height: 90%;
        padding: 0.35rem 2.25rem;
        color:  #137cd8;
        font-size: 0.85rem;
        font-weight: 500;
        background: #f3fcfe;
        border-radius: 0.25rem;
        transition: all 0.3s linear, color 0.2s;
    }

    .cat-content:hover {
        border-color: #15a3c5;
        color: #fff;
        background: #daeefa;
        box-shadow: 2px 2px 5px 0px rgba(13, 120, 145, 0.85);
    }


    .cat-title {
        display: block;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        padding-left: 0.75rem;
        color: #fff;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: left;
        background-image: linear-gradient(60deg, rgb(15, 180, 185) 0%, rgb(0, 40, 100) 100%);
        border-radius: 0.25rem;
    }

    .cat-title:hover {
        color: #aef;
    }

    .scat-title {
        display: block;
        border-left: 0.15rem solid #1ab;
        margin: 0.35rem;
        padding: 0.5rem;
        padding-left: 0.65rem;
        color: #135;
        font-size: 0.85rem;
        text-align: left;
        background: rgba(25, 175, 235, 0.05);
        border-radius: 0 !important;
    }

    .scat-title:hover {
        border-left: 0.25rem solid #2cf;
        color: #08c;
    }

    .data-cat-title {
        display: block;
        margin-bottom: 0.7rem;
        padding: 0.5rem;
        padding-left: 0.7rem;
        color: #fff;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: left;
        background-image: linear-gradient(60deg, rgb(15, 180, 185) 0%, rgb(0, 40, 100) 100%);
        border-radius: 0.25rem;
    }

    .smbtn {
        padding: 0.15rem 0.75rem 0.15rem 0.5rem;
    }

    .btn-rm {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        color: #1ac !important;
        cursor: pointer;
        background: none !important;
    }


    .btn-rm:hover {
        margin-left: 0.25rem;
        color: #2ce !important;
    }

</style>

{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    {% if doc.thumbnail == null or doc.thumbnail == "" %}
                    <img src="{% static 'img/doc-img/pdf_thum.jpg' %}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">                                        
                    {% else %}
                    <img src="/{{doc.thumbnail}}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">
                    {% endif %}
                    
                    {% comment %} <img src="{% static 'img/doc-img/' %}{{doc.thumbnail}}" alt="{{doc.title}}" width="100%" style="max-width: 250px;" /> {% endcomment %}
                </div>
                <div class="col-md-9">
                    <div class="pl-1">                        
                        <h2 style="text-align: justify; font-weight: 400; font-family: Georgia,Times New Roman,serif;">{{document.title}}</h2>                         
                        <p style="text-align: left; font-weight: 400; font-family: Georgia,Times New Roman,serif; color: #024ea0; margin-bottom: 0;">Organization: {{document.organization}}</p> 
                        <p style="text-align: left; font-weight: 400; font-family: Georgia,Times New Roman,serif; color: #024ea0;">Document Type: {{document.data_category}}</p> 
                        <!-- <br /> -->
                        <p class="doc_details">{{document.description}}</p>

                        <!-- <a target="_blank" class="doc_border_btn smbtn ml-2" id="test1" href="{% static 'document/' %}{{document.organization.short_name}}/{{document.access_category}}/{{document.file_name}}">
                            <i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></a> -->
                        <!-- <a class="doc_border_btn smbtn ml-2" href="" onclick="checkFileAvailability('{{document.organization.short_name}}', '{{document.access_category}}', '{{document.file_name}}')">
                            <i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></a>     -->
                        
                        <!-- <a id="docFileDownload" href="/{{document.file_name}}" download="{{document.file_name}}" style="display:none;"></a>
                        <button class="doc_border_btn smbtn ml-2" onClick="download_file()"><i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></button> -->

                        <a class="doc_border_btn smbtn ml-2" id="docFileDownload" href="{% static '/'  %}{{document.file_name}}" download="{{document.file_name}}">Download</a>
                    </div>
                   
                    <br />

                    <!-- <div class="pl-1">        
                        <h5 class="font-weight-normal">Relevant & Important Links</h5>

                        {% for ilnk in important_links %}
                            <p class="mb-1">
                                <a href="{{ilnk.link}}" target="_blank">{{ilnk.title}}</a>
                                {% if ilnk.link %}  {% comment %} and ilnk.link.endswith("pdf")  {% endcomment %}
                                    <img src="{% static 'img/pdf.gif' %}">
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-12 pl-3">
                    <h5 class="m-0 p-0 mt-3 font-weight-normal">Related Documents</h5>
                    <hr class="mt-1" />
                    
                    {% for doc in documents %}

                        {% ifchanged doc.data_category.category_name %}
                            <div class="row wow fadeInUp">
                                <div class="col-md-12">
                                    <span
                                        id='{{doc.organization.short_name}}_{{doc.organization_id}}_{{doc.data_category_id}}'
                                        class="data-cat-title" data-wow-delay="0.2s">
                                        <i class="fa-solid fa-table-list"></i> {{doc.organization.organization_name}}
                                        ({{doc.data_category.category_name}})
                                    </span>
                                </div>
                            </div>
                        {% endifchanged %}
                        
                        <div class="row community-box wow fadeInUp text-left">
                            <div class="col-md-2">
                                <div class="icon-container">
                                    {% if doc.thumbnail == null or doc.thumbnail == "" %}
                                        <img src="{% static 'img/doc-img/pdf_thum.jpg' %}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">
                                    {% else %}
                                        <img src="/{{doc.thumbnail}}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">
                                    {% endif %}
                                    
                                {% comment %} <img src="{% static 'img/doc-img/' %}{{doc.thumbnail}}" alt="{{doc.title}}" width="100%" style="max-width: 250px;" /> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-md-10">
                                <table class="table table-striped table-hover w-100 border mb-2">
                                    <tr>
                                        <td class="text-left font-weight-bold" style="width: 100px;">Title:</td>
                                        <td class="text-left font-weight-bold">{{doc.title|truncatewords:"200"}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-weight-bold">Subject:</td>
                                        {% comment %} <td class="text-left">{{doc.subject|truncatewords:"250"}}</td> {% endcomment %}
                                        <td class="text-left">{{doc.organization.organization_name}}
                                            ({{doc.data_category.category_name}})</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-weight-bold">Decription:</td>
                                        <td class="text-left">
                                            <div class="post">
                                                <span class="content_p">{{doc.decription|truncatewords:"1000"}}</span>
                                                <button class="btn-rm" onclick="read_more(this)">Read More</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <a target="_blank" href="{% url 'document-details' %}{{doc.id}}" class="doc_border_btn smbtn">
                                    <i class="fa-solid fa-circle-info fa-fw ml-0"></i><span class="ml-2">Details</span></a>

                                <!-- <a target="_blank" href="{% static 'document/' %}{{doc.organization.short_name}}/{{doc.access_category}}/{{doc.file_name}}" class="doc_border_btn smbtn ml-2">
                                    <i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></a>    
                                                             -->
                                <!-- <a id="docFileDownload" href="/{{document.file_name}}" download="{{document.file_name}}" style="display:none;"></a>
                                <button class="doc_border_btn smbtn ml-2" onClick="download_file()"><i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></button> -->

                                <a class="doc_border_btn smbtn ml-2" id="docFileDownload" href="{% static '/'  %}{{doc.file_name}}" download="{{doc.file_name}}">Download</a>

                                {% if user.is_authenticated and user.is_superuser or user.is_organizational_admin %}
                                    <a target="_blank" href="/admin/knowledgebase/document/{{doc.id}}/change/" class="doc_border_btn smbtn float-right">
                                        <i class="fa-solid fa-pen-to-square fa-fw ml-0"></i><span class="ml-2">Edit</span></a>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% endblock %}



{% block script_content %}

<!-- *****  Starts Read More and Less Style  ***** -->
<script type="text/javascript">

    function download_file() {
        document.getElementById("docFileDownload").click()
    }    

    // function checkFileAvailability (shortName, accessCat, fileName){
    //     var fileLocation = window.location.origin + '/static/document/'+ shortName + '/' + accessCat + '/' + fileName
    //     //alert(fileLocation);
    //     $.ajax({
    //         type: 'get',
    //         url: fileLocation,
    //         success: function(data, textStatus, XMLHttpRequest){
    //             //console.log('Error: ' + textStatus);
    //             var anchor = document.createElement('a');
    //             anchor.href = fileLocation;
    //             anchor.target="_blank";
    //             anchor.click();                
    //         },
    //         error: function (xhr, ajaxOptions, thrownError){
    //             alert('Error! File Not Found!');
    //             Swal.fire(
    //                 'Error!',
    //                 'File Not Found!',
    //                 'error'
    //             )

    //             Swal.fire({
    //                 position: 'top-end',
    //                 icon: 'error',
    //                 title: 'File Not Found!',
    //                 showConfirmButton: false,
    //                 timer: 5500
    //             })
    //         }
    //     })
    // }

    let noOfCharac = 250;
    let contents = document.querySelectorAll(".content_p");

    contents.forEach(content_p => {
        if (content_p.textContent.length < noOfCharac) {
            content_p.nextElementSibling.style.display = "none";
        } else {
            let displayText = content_p.textContent.slice(0, noOfCharac);
            let moreText = content_p.textContent.slice(noOfCharac);
            content_p.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function read_more(btn) {
        let post = btn.parentElement;

        post.querySelector(".dots").classList.toggle("hide");
        post.querySelector(".more").classList.toggle("hide");

        btn.textContent == "Read More" ? btn.textContent = "Read Less" : btn.textContent = "Read More";
    }
</script>
<!-- *****  Ends Read More and Less Style  ***** -->

{% endblock %}