{% extends 'main.html' %}
{% load static %}


{% block style_content %}

<style>
    .doc_faq_info .card .card-body {
        padding: 30px 30px 35px;
    }
</style>

{% endblock %}


{% block content %}

<div class="container-fluid mt-4 pl-3 pr-3">
    <div class="row">
        <div class="col-md-3 text-left">
            <a href="{% url 'dashboard' %}" class="doc_border_btn m-1 pt-2 pb-2 pl-3 pr-3">
                <i class="arrow_left m-0"></i> Back
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h5 class="wow fadeInUp mt-4 d-inline-flex" style="border-bottom: 2px solid #27a; color: #05a;">Frequently Asked Questions (FAQ)</h5>
        </div>
        <div class="col-md-3 text-right">
        </div>
    </div>
</div>


<div class="container mt-4 mb-3">
    <div class="row">
        <div class="col-12 col-lg-8 col-xlg-8 ml-auto mr-auto">           
            <!-- List of Organization -->
            <section>
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="accordion doc_faq_info" id="accordionExample">

                            <div class="card wow fadeInUp">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                How may I search a document based on organization?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A1.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card wow fadeInUp" data-wow-delay="0.2s">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                How can I search a national/international document?<i
                                                class="icon_plus"></i><i class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A2.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card wow fadeInUp" data-wow-delay="0.4s">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                How should I search a document based on a category?<i
                                                class="icon_plus"></i><i class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A3.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card wow fadeInUp" data-wow-delay="0.6s">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                What to do if I forgot my password?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A4.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card wow fadeInUp" data-wow-delay="0.8s">
                                <div class="card-header" id="headingfive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapsefive" aria-expanded="false"
                                                aria-controls="collapsefive">
                                                How to register in the knowledge repository application?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A5.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>        
                            
                            <div class="card wow fadeInUp" data-wow-delay="1s">
                                <div class="card-header" id="headingsix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapsesix" aria-expanded="false"
                                                aria-controls="collapsesix">
                                                How to sign in the knowledge repository?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapsesix" class="collapse" aria-labelledby="headingfive"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A6.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card wow fadeInUp" data-wow-delay="1.2s">
                                <div class="card-header" id="headingseven">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseseven" aria-expanded="false"
                                                aria-controls="collapseseven">
                                                Do I need to register in the knowledge repository to search a document?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseseven" class="collapse" aria-labelledby="headingfive"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A7.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px; " />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card wow fadeInUp" data-wow-delay="1.4s">
                                <div class="card-header" id="headingeight">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseeight" aria-expanded="false"
                                                aria-controls="collapseeight">
                                                Can I have access to all the documents?<i class="icon_plus"></i><i
                                                class="icon_minus-06"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseeight" class="collapse" aria-labelledby="headingfive"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-12 col-lg-10 col-xlg-10 ml-auto mr-auto">                                               
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'img/help-img/A8.jpg' %}" alt="" style="min-height: 30px; margin-bottom: 20px;" />
                                            </div>                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>                     
            </section>
        </div>
    </div>
</div>


{% endblock %}



{% block script_content %}

{% endblock %}