{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block content %}

<style>

    .linkbox_content {
        background: #eef4f9;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 3px #d2e1eb;
        color: #004962;
        text-decoration: none;
        width: 100%;
        /* height: 100%; */
        display: block;
        padding: 10px;
        margin: 0 0 15px 0;     /*   10px 0; */
        font: 14px/1.5 'robotolight', arial;
    }

    .linkbox_content a {
        font-weight: bold;
    }

    .linkbox_content p {
        margin-bottom: 0;
    }
    
    .link-line {
        border-bottom: 1px dotted #000;
    }

    .link-line:hover {
        border-bottom: 1px solid rgb(0, 105, 131);
    }

    .h_title_r {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%);
        /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        display: block;
        padding: 7px;
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .h_title_l {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%);
        /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        display: block;
        padding: 7px;
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .custom-control-label::before,
    .custom-control-label::after {
        /* top: .8rem; */
        width: 1.50rem;
        height: 1.50rem;
        border: 1px solid #3cbdd9;
        border-radius: 0.15rem !important;
    }

    .btn_small {
        padding: 0 5px !important;
    }


</style>



<div class="container" style="margin-top: 50px;">

    <div class="row">
        <div class="col-md-12 text-center">
            <h5 class="wow fadeInUp">Important Links</h5>
        </div>
    </div>
    
    <hr />

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="row">
                <div style="padding: 0px 0px 0px 10px; width: 100%;">                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="wow fadeInUp h_title_r mt-2" data-wow-delay="0.2s">Links of National Sites</h4>
                        </div>
                    </div>
                    <!-- Sliding Cards -->
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="http://lms.pmo.gov.bd/" class="link-line" title="The Prime Minister’s Office Library">The Prime Minister’s Office Library</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>The Prime Minister's Office Library has more than 52 thousands reading materials. The library materials are arranged under Dewey Decimal Classification System. More than 26 thousands books have been entered in the online library management system.</p>                               
                            </div>    
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="http://www.mowr.gov.bd/" class="link-line" title="Ministry of Water Resources, Bangladesh">Ministry of Water Resources, Bangladesh (MoWR)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>The Ministry of Water Resources is the apex body of the Government of the People's Republic of Bangladesh for development and management of the whole water resources of the country. It formulates policies, plans, strategies, guidelines, instructions and acts, rules, regulations, etc. relating to the development and management of water resources, and regulation and control of the institutions reporting to it.</p>                                                           
                            </div>  
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://bwdb.gov.bd/" class="link-line" title="Bangladesh Water Development Board">Bangladesh Water Development Board (BWDB)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>As the principal agency of the government for managing water resources of the country, it was given the responsibility of accomplishing the tasks of executing flood control, drainage and irrigation projects to increase productivity in agriculture and fisheries.</p>                                                             
                            </div>        
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="http://rri.gov.bd/" class="link-line" title="River Research Institute (RRI)">River Research Institute (RRI)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>River Research Institute (RRI) is a national organization working as a statutory public authority under the Ministry of Water Resources, Government of the People’s Republic of Bangladesh. RRI has been established in view of devising plans and actions to develop water resources in a sustainable manner to meet the development needs of Bangladesh.</p>                                                             
                            </div>   
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="http://www.jrcb.gov.bd/" class="link-line" title="Joint Rivers Commission, Bangladesh">Joint Rivers Commission, Bangladesh (JRC)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>The Joint Rivers Commission was established on a permanent basis through a joint declaration between the Prime Ministers of Bangladesh and India on 19 March, 1972 inter-alia to carry out a comprehensive survey of the river systems shared by the two countries, formulate projects concerning both the countries in the fields of flood control and to implement them, to formulate detailed proposals on advance flood warnings, flood forecasting etc. so that the water resources of the regions can be utilized on an equitable basis for mutual benefit of the people of the two countries.</p>                                                             
                            </div> 
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="http://dbhwd.gov.bd/" class="link-line" title="Department of Bangladesh Haor and Wetlands Development (DBHWD)">Department of Bangladesh Haor and Wetlands Development (DBHWD)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>At first Bangladesh Haor Development Board was formed in 1977 as per instruction of the Father of Nation Bangabandhu Sheikh Mujibur Rahman in 1973. But it was abolished in 1982 by the then Government. Bangladesh Haor and Wetlands Development Board was established in  2000 under the Ministry of Water Resources by the earnest desire of the Honorable Prime Minister.</p>                               
                            </div> 
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="http://www.warpo.gov.bd/" class="link-line" title="Water Resources Planning Organization (WARPO)">Water Resources Planning Organization (WARPO)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>The Water Resources Planning Organization (WARPO) is an apex organization under the Ministry of Water Resources, dealing with nationwide water resources planning. In 1983 Government created Master Plan Organization (MPO) with a mandate to prepare National Water Plans. MPO became WARPO under act no. xii of 1992. Flood Plan Coordination Organization (FPCO) was created in 1989 to coordinate Flood Action Plan (FAP) activities and has been merged with WARPO in January 1996</p>                                                           
                            </div>  
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://www.iwmbd.org/" class="link-line" title="Institute of Water Modelling (IWM)">Institute of Water Modelling (IWM)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>Institute of Water Modelling (IWM) provides world–class services in the field of Water Modelling, Computational Hydraulics & Allied Sciences for improved integrated Water Resources Management.</p>                                                           
                            </div>  
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://www.cegisbd.com/" class="link-line" title="Center for Environmental and Geographic Information Services (CEGIS)">Center for Environmental and Geographic Information Services (CEGIS)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>While Bangladesh is making great strides toward holistic and sustainable development, CEGIS has been relentlessly trying since the inception of its predecessor EGIS in 1995 to support the country’s efforts for sustainable socio-economic development by providing scientific, technological and socio-economic know-how. It is a Public Trust under the Ministry of Water Resources of the Government of Bangladesh.</p>                                                           
                            </div> 
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="http://www.bbs.gov.bd/" class="link-line" title="Bangladesh Bureau of Statistics (BBS)">Bangladesh Bureau of Statistics (BBS)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>Bangladesh Bureau of Statistics (BBS) is functioning as the country's national statistical agency. Welcome to the official website of Bangladesh Bureau of Statistics. This website is a showcase of Bangladesh Bureau of Statistics' current activities and information storage.</p>                                                           
                            </div>  
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://www.lged.gov.bd/" class="link-line" title="Local Government Engineering Department (LGED)">Local Government Engineering Department (LGED)</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>Local Government Engineering Department (LGED) is one of the largest engineering organizations in the country. Although the activities started in the 60s through the implementation of the Pallipurta program, its scope has expanded greatly over time. From the remote areas of the country to the city limits, LGED has huge activities.</p>                                                           
                            </div> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="wow fadeInUp h_title_r mt-2" data-wow-delay="0.2s">Links of International Sites</h4>
                        </div>
                    </div>
                    <!-- Sliding Cards -->
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="http://www.cawater-info.net/bk/index_e.htm" class="link-line" title="CAWater">CAWater - Knowledge Base</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>List of headings is a hierarchical classification system, which is applied to systematize documents and represent them in databases and information publications.</p>                               
                            </div>    
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://openknowledge.worldbank.org/" class="link-line" title="Open Knowledge Reposotory">Open Knowledge Reposotory - World bank Group</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>The World Bank is the largest single source of development knowledge. The World Bank Open Knowledge Repository (OKR) is The World Bank’s official open access repository for its research outputs and knowledge products.</p>                                                           
                            </div>      
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s" >                                
                                <a href="https://aquadocs.org/" class="link-line" title="Aqua Docs">Aqua Docs</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>AquaDocs is the joint open access repository of the UNESCO/IOC InternationaI Oceanographic Data and Information Exchange (IODE) and the International Association of Aquatic and Marine Science Libraries and Information Centers (IAMSLIC) with support from the FAO Aquatic Sciences and Fisheries Abstracts.</p>                                                           
                            </div>   
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="https://www.indiawaterportal.org/" class="link-line" title="India Water Portal">India Water Portal</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>India Water Portal is a website that shares knowledge and builds communities around water and related issues in India. Managed by Arghyam, the Portal has become a valuable archive of resources, working papers, reports, data, articles, news, events, opportunities and discussions on water.</p>                               
                            </div>    
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="https://openknowledgemaps.org/" class="link-line" title="Open Knowledge Maps">Open Knowledge Maps</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>Open Knowledge Maps is to revolutionize discovery of scientific knowledge. These maps are building a visual interface that dramatically increases the visibility of research findings for science and society alike.</p>                               
                            </div>     
                            <div class="linkbox_content wow fadeInUp" data-wow-delay="0.2s">                                
                                <a href="https://doaj.org/" class="link-line" title="DOAJ">DOAJ - Open Global Trusted</a> <i class="fa-solid fa-up-right-from-square ml-2"></i>
                                <p>DOAJ is a unique and extensive index of diverse open access journals from around the world, driven by a growing community, committed to ensuring quality content is freely available online for everyone.</p>                               
                            </div>                                                  
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}