{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block content %}

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">    -->

<style>

/* @-moz-document url-prefix() {
    select {
        direction:rtl;
        width: auto;
    }
    option{
        text-align: left;
    }
} */

    .categories_guide_item {
        padding: 0px !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    .categories_guide_item img {
        margin-bottom: 0px !important;
    }

    .tab-pane {
        margin-top: 75px;
    }

    .tab-content {
        padding: 0 20px;
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .com-title {
        font-size: 0.8rem !important;
        font-style: italic;
        text-transform: uppercase;
    }

    .community-box {
        padding: 20px 15px;
        box-shadow: 1px 1px 3px 2px rgba(2, 47, 57, 0.14);
    }

    .community-content {
        min-height: 160px;
    }

    .fact_navigation_info {
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        padding: 40px 30px 28px;
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .org-content {
        /* background-color: #dde3ee; */
        /* background-image: linear-gradient(to left bottom, #eeeeee, #ecedee, #eaebee, #e7eaee, #e4e9ee); */
        /* border: 1px solid #d9ddea; */
        padding: 10px;
        margin: 10px 0px;
    }

    .org-img {
        width: 90px;
        margin-bottom: 10px;
    }

   .list {
        width: auto !important;
    }


/* Custom Checkbox */
.custom-control-label::before, 
    .custom-control-label::after {
    /* top: .8rem; */
    width: 1.50rem;
    height: 1.50rem;
    border: 1px solid #3cbdd9;
    border-radius: 0.25rem !important;
    }

    .carousel-caption {
        left:0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }

    .h_title_r {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%); /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        display: block;   
        padding: 7px;         
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .h_title_l {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%); /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        display: block;    
        padding: 7px;                
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .search_left_panal {
        background: #568a9e;
        opacity: 0.8;
    }

    .typography_list h5, .dropcap_content h5 {
        margin-bottom: 0px;
    }

    .typography_list ul li a, .typography_list ol li a {  
        font-size: 14px;
        color: #10b3d6; 
    }

</style>

<!-- <div class="row">
    <a href="{% url 'home' %}" class="doc_border_btn" style="opacity: 0.8; margin: 10px 30px; padding: 6px 15px;"><i class="arrow_left" style="margin-right: 10px; margin-left: 0px;"></i>Back</a>
</div> -->
<!-- <div class="section_title text-center" style="margin-bottom: 20px;">    
    
</div> -->
<div class="row">
    <div class="col-md-12">
        <div class="row" >
            <div class="col-md-1">
                <a href="{% url 'home' %}" class="doc_border_btn" style="opacity: 0.8; margin: 5px; padding: 6px 15px;"><i class="arrow_left" style="margin-right: 10px; margin-left: 0px;"></i>Back</a>
            </div>
            <div class="col-md-11 text-center">
                <h5 class="wow fadeInUp" style="margin: 25px 0px 0px 0px;">Other Document(s) Search</h5>
            </div>
        </div>
    </div>
</div>



<!-- Categorywise search -->
<section class="doc_faq_area_two sec_pad">
    <div class="container">
        
        <!-- <div class="section_title text-center" style="margin-bottom: 10px; margin-top:30px;">
            <h5 class="wow fadeInUp">Important Links</h2>            
        </div> -->
        <div class="row">                            
            <div class="col-md-2 mt-3">                
                <div class="doc_border_btn" style="width: 100%; padding: 10px 5px; ">
                    <i class="fa-regular fa-map-location-dot fa-fw"></i><label style="margin: 10px 0px 0px 15px;">National</label><i class="arrow_right"></i>
                    <div class="custom-control custom-checkbox mb-3" style="float: right; bottom: 15px; right: -6px;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div> 
                </div>
            </div>                                
            <div class="col-md-2 mt-3">
                <div class="doc_border_btn" style="width: 100%; padding: 10px 5px;">
                    <i class="fa-sharp fa-solid fa-earth-asia fa-fw"></i><label style="margin: 10px 0px 0px 15px;">International</label><i class="arrow_right"></i>
                    <div class="custom-control custom-checkbox mb-3" style="float: right; bottom: 15px; right: -6px;">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" name="example2">
                        <label class="custom-control-label" for="customCheck2"></label>
                    </div>  
                </div>
            </div>                        
        </div>            
    </div>
</section>


<!-- searchbox area section   -->
<!-- <div class="row">
    <div class="col-md-12"> -->
<section class="breadcrumb_area" style="background-image: none; padding:0; margin-top: 25PX;;">

    <div class="container" style="padding: 0;">
        <form action="#" class="banner_search_form banner_search_form_two" style="margin: 0px 10px; padding: 0; max-width: 100%; border: 1px solid #009abb;">   <!--  #019d19; --> <!-- action="{% url 'SearchResult1' %}" -->
            <div class="input-group">
                <input type="search" class="form-control" placeholder='Search...'>
                <div class="input-group-append">
                    <select class="custom-select" id="inlineFormCustomSelect" >
                        <option selected>All Category</option>
                        <option value="1">Knowledge Base</option>
                        <option value="2">Research & Publications</option>
                        <option value="3">Analysis & Reporting</option>
                        <option value="4">Documentation</option>
                        <option value="5">Publication</option>
                        <option value="6">Plan</option>                   
                    </select>
                </div>
                <button id="submit" type="submit"><i class="icon_search"></i></button>
            </div>
        </form>
    </div>
</section>
<!-- </div>
</div> -->

<div class="container" style="margin-top: 50px;">
    <div class="row" id="DivSearch" style="display: none;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="row">
                        <div class="col-md-12 typography_list">
                            <!-- <div class="search_left_panal"> -->
                            <h5>Selected Type</h5>
                            <hr />
                            <h4 class="wow fadeInUp h_title_l" data-wow-delay="0.2s">International</h4>

                            <ul class="list-unstyled unorderlist">                        
                                <li><a href="#">Knowledge Base</a></li>
                                <li><a href="#">Analysis & Reporting</a></li>
                                <li><a href="#">Plan</a></li>                        
                            </ul>

                            <!-- <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px;">Knowledge Base</a>
                            <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px; ">Analysis & Reporting</a>
                            <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px; ">Plan</a>    -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <div style="padding: 0px 0px 0px 10px;">
                        <h5>Search Result</h5>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="wow fadeInUp h_title_r" data-wow-delay="0.2s">Knowledge Base</h4>
                            </div>
                        </div>
                        <!-- Sliding Cards -->
                        <div class="row">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/home_support/saltwater.jpg' %}" alt="community"
                                                        width="100%" style="max-width: 200px;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>
                                                    Case study on water logging problems in an urban area of Bangladesh and probable
                                                    analytical solution. Some dodgy chav bevvy amongst argy-bargy spiffing
                                                    absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy
                                                    chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea
                                                    a load of old tosh porkies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/home_support/flood.jpg' %}" alt="community"
                                                        width="100%" style="max-width: 200px;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>
                                                    Salinity problems and crop production in coastal regions of Bangladesh. Some
                                                    dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup
                                                    of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy
                                                    spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/home_support/water-logging.jpg' %}" alt="community"
                                                        width="100%" style="max-width: 200px;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>
                                                    Award points, level up, and earn new privileges. Some dodgy chav bevvy amongst
                                                    argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh
                                                    porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered
                                                    nancy boy cup of tea a load of old tosh porkies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="wow fadeInUp h_title_r" data-wow-delay="0.2s">Plan</h4>
                            </div>
                        </div>

                        <!-- Sliding Cards -->
                        <div class="row">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/banner_back/bann1.jpg' %}" alt="community" width="100%"
                                                        style="max-width: 200px;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>
                                                    Case study on water logging problems in an urban area of Bangladesh and probable
                                                    analytical solution. Some dodgy chav bevvy amongst argy-bargy spiffing
                                                    absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy
                                                    chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea
                                                    a load of old tosh porkies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/banner_back/bann2.jpg' %}" alt="community" width="100%"
                                                        style="max-width: 200px;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>
                                                    Salinity problems and crop production in coastal regions of Bangladesh. Some
                                                    dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup
                                                    of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy
                                                    spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const targetDiv = document.getElementById("DivSearch");
    const btn = document.getElementById("submit");

    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
        } else {
            targetDiv.style.display = "block";
        }
    };
</script>

{% endblock %}