{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block content %}

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">    -->


<!-- <Script>
    $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
    $(this).closest("li").toggleClass("active", this.checked);
    });

    $(document).on('click', '.allow-focus', function (e) {
    e.stopPropagation();
    });
</Script> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"> -->

<style>
    .categories_guide_item {
        padding: 0px !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    .categories_guide_item img {
        margin-bottom: 0px !important;
    }

    .tab-pane {
        margin-top: 75px;
    }

    .tab-content {
        padding: 0 20px;
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .com-title {
        font-size: 0.8rem !important;
        font-style: italic;
        text-transform: uppercase;
    }

    .community-box {
        padding: 10px 10px;  /* 20px 15px; */
        box-shadow: 1px 1px 3px 2px rgba(2, 47, 57, 0.14);
    }

    .icon-container {
        margin-bottom: 0px !important;
    }

    .community-content {
        min-height: 160px;
    }

    .fact_navigation_info {
        box-shadow: 5px 6px 5px 0 rgba(33, 39, 40, 0.2);
        padding: 40px 30px 28px;
        border: 1px Solid rgba(130, 148, 151, 0.2)
    }

    .org-content {
        /* background-color: #dde3ee; */
        /* background-image: linear-gradient(to left bottom, #eeeeee, #ecedee, #eaebee, #e7eaee, #e4e9ee); */
        /* border: 1px solid #d9ddea; */
        padding: 10px;
        margin: 10px 0px;
        border-radius: 3px;
        min-height: 95px !important;
    }
    
    .org-content:hover{
        box-shadow: #04859b 0px 1px 6px 0px !important;        
    }

    .org-img {
        width: 75px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .carousel-caption {
        left:0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }

    .h_title_r {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%); /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        display: block;   
        padding: 7px;         
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .h_title_l {
        /* background-image: linear-gradient(60deg, rgb(16, 179, 214) 0%, rgb(29, 39, 70) 100%); */
        background-image: linear-gradient(60deg, rgb(16, 181, 189) 0%, rgb(0, 38, 96) 100%); /* linear-gradient(60deg, rgb(16, 189, 157) 0%, rgb(0, 82, 96) 100%); */
        color: #fff;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        display: block;    
        padding: 7px;                
        padding-left: 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .search_left_panal {
        background: #568a9e;
        opacity: 0.8;
    }

    /*=========== Start Slider css (MNH) ============*/



    .slide_section {
        position: inherit;
        width: 100%;
        height: auto;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.16);
        /* margin-bottom: 100px; */
        z-index: 100;
    }

    .slide {
        position: relative;
        background: #F8F9FA;
        height: 500px;
        flex: 1;
        border-right: 1px solid rgba(0, 0, 0, 0.16);
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .slide:last-child {
        border-right: none;
    }

    .slide:hover {
        flex-grow: 6;
        /* transform: scale(1.05, 1.05); */
        /* -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 65%; */
    }

    .inner {
        height: 500px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    /* .slide:nth-child(1)
{
    background: url(../static/img/slider-img/S1.jpg);
    background-position: center center;
}

.slide:nth-child(2)
{
    background: url(../static/img/slider-img/S2.jpg);
    background-position: center center;
}

.slide:nth-child(3)
{
    background: url(../static/img/slider-img/S3.jpg);
    background-position: center center;
}

.slide:nth-child(4)
{
    background: url(../static/img/slider-img/S4.jpg);
    background-position: center center;
} */

    .slide .content {
        position: absolute;
        bottom: 0;
        margin: 20px;
        padding: 10px;
        background: #000;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0s;
        transform: translateY(100px);
        /* width:100%; */
    }

    .slide:hover .inner {
        transform: scale(1.2);
    }

    .slide:hover .content {
        visibility: visible;
        opacity: 0.7;
        transition: 0.5s;
        transition-delay: 0.2s;
        transform: translateY(0);
    }

    /*.slick-track {
    /* transition-delay: 2s !important; 
    /* transition: transform 1s !important; 
} */

    .item {
        margin: 20px;
    }

    /* https://www.youtube.com/watch?v=uDDGsq0Xf2Y */
    /*=========== End Slider css (MNH) ============*/

    /*=========== SVG css (MNH) ============*/
    .water-wave {
        display: block;
        width: 100%;
        height: 14rem;
        max-height: 150vh;
        margin: 0;
    }

    .parallax>use {
        animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -3s;
    }

    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 4.25s
    }

    .parallax>use:nth-child(3) {
        animation-delay: -3s;
        animation-duration: 5.25s
    }

    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 3.25s
    }

    @keyframes move-forever {
        0% {
            transform: translate(-90px, 0%)
        }

        100% {
            transform: translate(85px, 0%)
        }
    }
     /*=========== Ends SVG css (MNH) ============*/

    .custom-control-label::before,
    .custom-control-label::after {
        /* top: .8rem; */
        width: 1.50rem;
        height: 1.50rem;
        border: 1px solid #3cbdd9;
        border-radius: 0.15rem !important;
    }
    
    .typography_list h5, .dropcap_content h5 {
        margin-bottom: 0px;
    }

    .typography_list .unorderlist li::before {
        background: #10B3BC;
    }

    .typography_list ul li a, .typography_list ol li a {  
        font-size: 14px;
        color: #10b3d6; 
    }


    /* Search DropdownList Styles Starts */

    /* .checkbox-menu li label {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin:0;
        transition: background-color .4s ease;
    }
    .checkbox-menu li input {
        margin: 0px 5px;
        top: 2px;
        position: relative;
    }

    .checkbox-menu li.active label {
        background-color: #cbcbff;
        font-weight:bold;
    }

    .checkbox-menu li label:hover,
    .checkbox-menu li label:focus {
        background-color: #f5f5f5;
    }

    .checkbox-menu li.active label:hover,
    .checkbox-menu li.active label:focus {
        background-color: #b8b8ff;
    } */
    /* Search DropdownList Styles Endss */

</style>

<!-- jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<!-- Bootstrap CSS -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- Bootstrap JS -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<!-- Bootstrap Multiselect CSS -->
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}"> -->
<!-- Bootstrap Multiselect JS -->
<!-- <script src="{% static 'css/bootstrap-multiselect.js' %}"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">


<!-- <script>
    require(['bootstrap-multiselect'], function(purchase){
    $('#example-getting-started').multiselect();
    });
</script> -->



<!-- <section class="doc_fun_fact_area" style="padding: 70px 0px; background: #c5e9ff; margin-top: 10px;;"> 
    <div class="animated-waves">
        <svg class="water-wave animated-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none">                    
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">                
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#2595ea35"/>  fill="#2475ed35"
                <use xlink:href="#gentle-wave" x="50" y="2" fill="#2595ea50"/>  fill="#2578df50"
                <use xlink:href="#gentle-wave" x="50" y="4" fill="#2595ea65"/>  fill="#2873ea65"
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#2595ea25"/>  fill="#2873ea25"                 
            </g>
        </svg>

        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="animated-wave">
            <title>Wave</title>
            <defs></defs>
            <path id="animated-wave-three" d="" fill="rgba(188, 214, 234, 0.5)" />
        </svg>
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="animated-wave">
            <title>Wave</title>
            <defs></defs>
            <path id="animated-wave-four" d="" fill="rgba(188, 214, 234, 0.5)" />
        </svg>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_one/Categories.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>                        
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipCategories">                            
                    <div class="counter" style="color: #000000;">15</div>
                    <p style="color: #000000;">Categories</p>
                </div>                        
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content" data-wow-delay="0.4s">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_one/Topics.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>                        
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipTopics">
                    <div class="counter" style="color: #039541;">40</div>
                    <p style="color: #039541;">Topics</p>
                </div>                        
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content" data-wow-delay="0.8s">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_two/folder1.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipArticles">
                    <div class="counter" style="color: #FCC328;">470</div>
                    <p style="color: #FCC328;">Articles</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content" data-wow-delay="1.2s">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_one/Publications.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipPublications">
                    <div class="counter" style="color: #1316d4;">354</div>
                    <p style="color: #1316d4;">Publications</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content" data-wow-delay="1.6s">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_one/Reports.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipReports">
                    <div class="counter" style="color: #b800d2;">337</div>
                    <p style="color: #b800d2;">Reports</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 wow fadeInUp tooltip_content" data-wow-delay="2s">
                <div class="col-md-12 text-center d-none"><img src="{% static 'img/home_one/References.png' %}" alt="" style="min-height: 55px; margin-bottom: 20px;" /> </div>
                <div class="doc_fact_item tooltips" data-tooltip-content="#tooltipReferences">
                    <div class="counter" style="color: #df1f11;">412</div>
                    <p style="color: #df1f11;">References</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <div class="row">
    <a href="{% url 'home' %}" class="doc_border_btn" style="opacity: 0.8; margin: 10px 30px; padding: 6px 15px;"><i class="arrow_left" style="margin-right: 10px; margin-left: 0px;"></i>Back</a>
</div>
<div class="section_title text-center" style="margin-bottom: 20px;">    
    <h5 class="wow fadeInUp">Search by Organization</h5>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1">
                <a href="{% url 'home' %}" class="doc_border_btn"
                    style="opacity: 0.8; margin: 5px; padding: 6px 15px;"><i class="arrow_left"
                        style="margin-right: 10px; margin-left: 0px;"></i>Back</a>
            </div>
            <div class="col-md-11 text-center">
                <h5 class="wow fadeInUp" style="margin: 25px 0px 0px 0px;">Search by Organization</h5>
            </div>
        </div>
    </div>
</div>


<!-- List of Organization -->
<section class="doc_categories_guide_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="section_title text-center" style="margin-bottom: 10px;">
                    <h5 class="wow fadeInUp">List of Organization</h5>
                </div> -->
                <div class="row">
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" for="customCheck" data-bs-toggle="tooltip"
                            data-bs-html="true" title="Bangladesh Water Development Board"
                            style="background-image: url(/static/img/banner_back/bann1.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <!-- <div class="form-check" style="float: right; bottom: 12px; right: -13px;"> 
                                <input class="form-check-input" type="checkbox" role="switch" value="" id="flexCheckDefault">                                
                            </div>  -->
                            <!-- <div class="custom-control form-control-lg custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>                             -->
                            <div class="custom-control custom-checkbox mb-3" style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                            <img src="{% static 'img/article_logo/BWDB.png' %}" alt="Organization One"
                                class="org-img" />
                            <span style="color:#4F5773;">BWDB</span>
                            <!-- <p style="color:#4F5773;">Bangladesh Water Development Board</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="River Research Institute (RRI)" data-wow-delay="0.4s"
                            style="background-image: url(/static/img/banner_back/bann19.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="example2">
                                <label class="custom-control-label" for="customCheck2"></label>
                            </div>
                            <img src="{% static 'img/article_logo/rri.png' %}" alt="" class="org-img"
                                style="width: 50px;" />
                            <span style="color:#4F5773;">RRI</span>
                            <!-- <p style="color:#4F5773;">River Research Institute (RRI)</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="Joint Rivers Commission, Bangladesh" data-wow-delay="0.8s"
                            style="background-image: url(/static/img/banner_back/bann5.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" name="example3">
                                <label class="custom-control-label" for="customCheck3"></label>
                            </div>
                            <img src="{% static 'img/article_logo/BD_GOV.png' %}" alt="" class="org-img" />
                            <span style="color:#4F5773;">JRC</span>
                            <!-- <p style="color:#4F5773;">Joint Rivers Commission, Bangladesh</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="Department of Bangladesh Haor and Wetlands Development" data-wow-delay="1.2s"
                            style="background-image: url(/static/img/banner_back/bann13.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4">
                                <label class="custom-control-label" for="customCheck4"></label>
                            </div>
                            <img src="{% static 'img/article_logo/BD_GOV.png' %}" alt="" class="org-img" />
                            <span style="color:#4F5773;">DBHWD</span>
                            <!-- <p style="color:#4F5773;">Department of Bangladesh Haor and Wetlands Development</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="Water Resources Planning Organization (WARPO)" data-wow-delay="1.6s"
                            style="background-image: url(/static/img/banner_back/bann15.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck5" name="example5">
                                <label class="custom-control-label" for="customCheck5"></label>
                            </div>
                            <img src="{% static 'img/article_logo/WARPO.png' %}" alt="" class="org-img" />
                            <span style="color:#4F5773;">WARPO</span>
                            <!-- <p style="color:#4F5773;">Water Resources Planning Organization (WARPO)</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="Institute of Water Modelling" data-wow-delay="2s"
                            style="background-image: url(/static/img/banner_back/bann18.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck6" name="example6">
                                <label class="custom-control-label" for="customCheck6"></label>
                            </div>
                            <img src="{% static 'img/article_logo/iwm.png' %}" alt="" class="org-img" />
                            <span style="color:#4F5773;">IWM</span>
                            <!-- <p style="color:#4F5773;"><span style="color:#07839F;">Trusty Organization: </span>Institute of Water Modelling</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center org-content wow fadeInUp" data-bs-toggle="tooltip" data-bs-html="true"
                            title="Center for Environmental and Geographic Information Services (CEGIS)"
                            data-wow-delay="2.4s"
                            style="background-image: url(/static/img/banner_back/bann4.jpg); min-height: 85px; border: 1px solid #bdbdbd; box-shadow: 1px 2px 3px 2px rgb(2 47 57 / 14%);">
                            <div class="custom-control custom-checkbox mb-3"
                                style="float: right; bottom: 15px; right: -11px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck7" name="example7">
                                <label class="custom-control-label" for="customCheck7"></label>
                            </div>
                            <img src="{% static 'img/article_logo/CEGIS.png' %}" alt="" class="org-img"
                                style="margin-top: 10px;" />
                            <span style="color:#4F5773;">CEGIS</span>
                            <!-- <p style="color:#4F5773;"><span style="color:#07839F;">Trusty Organization: </span>Center for Environmental and Geographic Information Services (CEGIS)</p> -->
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<!-- <br> -->

<!-- searchbox area section    -->
<section class="breadcrumb_area" style="background-image: none; padding:0; margin-top: 25PX;">

    <div class="container" style="padding: 0;">
        <form action="#" class="banner_search_form banner_search_form_two"
            style="margin: 0px 10px; padding: 0; max-width: 100%; border: 1px solid #009abb;">   <!-- action="{% url 'SearchResult1' %}" -->
            <!--  #019d19; -->
            <!-- style="margin: 0; padding: 0; max-width: 100%; border: 1px solid rgba(0,0,0,.1);" -->
            <div class="input-group">
                <input type="search" class="form-control" placeholder='Search...'>
                <div class="input-group-append">      
                    
                    <!-- <select id="mySelect" multiple="multiple">
                        <option value="1">Knowledge Base</option>
                        <option value="2">Research & Publications</option>
                        <option value="3">Analysis & Reporting</option>
                        <option value="4">Documentation</option>
                        <option value="5">Publication</option>
                        <option value="6">Plan</option>
                    </select> -->

                    <select class="custom-select" id="inlineFormCustomSelect" multiple="multiple">
                        <option value="99" selected>All Category</option>
                        <option value="1">Knowledge Base</option>
                        <option value="2">Research & Publications</option>
                        <option value="3">Analysis & Reporting</option>
                        <option value="4">Documentation</option>
                        <option value="5">Publication</option>
                        <option value="6">Plan</option>
                    </select>
                </div>
                <button id="submit" type="submit"><i class="icon_search"></i></button>
            </div>
        </form>
    </div>
</section>


<div class="container" style="margin-top: 50px;">
    <div class="row" id="DivSearch" style="display: none;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 typography_list">
                            <h5>Selected Organization</h5>
                            <hr />
                            <h4 class="wow fadeInUp h_title_l" data-wow-delay="0.2s">Bangladesh Water Development Board</h4>

                            <ul class="list-unstyled unorderlist">                        
                                <li><a href="#">Knowledge Base</a></li>
                                <li><a href="#">Analysis & Reporting</a></li>      
                                <li><a href="#">Publication</a></li>                                             
                            </ul>

                            <!-- <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px;">Knowledge Base</a>
                            <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px; ">Analysis & Reporting</a>
                            <a href="#" class="" style="width: 100%; padding: 0px 1px; display: block; font-size: 13px; ">Publication</a>                     -->
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="padding: 0px 0px 0px 10px;">
                        <h5>Search Result</h5>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="wow fadeInUp h_title_r" data-wow-delay="0.2s">Knowledge Base</h4>
                            </div>
                        </div>
                        <!-- Sliding Cards -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <a href="#" title="Click here to view"> -->
                                    <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon-container">
                                                    <img src="{% static 'img/home_support/saltwater.jpg' %}" alt="community" style="max-width: 150px; border: 1px solid #ddd;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <h6 class="h6 bold">Case study on water logging problems in an urban area of Bangladesh and probable analytical solution.</h6>
                                                <p style="margin-bottom: 0px;">
                                                    Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. 
                                                </p>
                                                <a href="#" style="color:darkviolet;">Read more</a> | <a href="#" class="doc_border_btn btn_small" ><i class="fa-sharp fa-solid fa-download fa-fw" style="margin-left: 0px;"></i><span style="margin-left: 10px;">Download</span></a>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="icon-container">
                                                <img src="{% static 'img/home_support/flood.jpg' %}" alt="community" style="max-width: 150px; border: 1px solid #ddd;">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <h6 class="h6 bold">Salinity problems and crop production in coastal regions of Bangladesh.</h6>
                                            <p style="margin-bottom: 0px;">
                                                Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                            </p>
                                            <a href="#" style="color:darkviolet;">Read more</a> | <a href="#" class="doc_border_btn btn_small" ><i class="fa-sharp fa-solid fa-download fa-fw" style="margin-left: 0px;"></i><span style="margin-left: 10px;">Download</span></a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="icon-container">
                                                <img src="{% static 'img/home_support/water-logging.jpg' %}" alt="community" style="max-width: 150px; border: 1px solid #ddd;">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <h6 class="h6 bold">Award points, level up, and earn new privileges.</h6>
                                            <p style="margin-bottom: 0px;">
                                                Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                            </p>
                                            <a href="#" style="color:darkviolet;">Read more</a> | <a href="#" class="doc_border_btn btn_small" ><i class="fa-sharp fa-solid fa-download fa-fw" style="margin-left: 0px;"></i><span style="margin-left: 10px;">Download</span></a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="wow fadeInUp h_title_r" data-wow-delay="0.2s">Analysis & Reporting</h4>
                            </div>
                        </div>

                        <!-- Sliding Cards -->
                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="icon-container">
                                                <img src="{% static 'img/No_Image_Found1.jpg' %}" alt="community" style="max-width: 150px; border: 1px solid #ddd;">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <h6 class="h6 bold">Case study on water logging problems in an urban area of Bangladesh and probable analytical solution.</h6>
                                            <p style="margin-bottom: 0px;">
                                                Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                            </p>
                                            <a href="#" style="color:darkviolet;">Read more</a> | <a href="#" class="doc_border_btn btn_small" ><i class="fa-sharp fa-solid fa-download fa-fw" style="margin-left: 0px;"></i><span style="margin-left: 10px;">Download</span></a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">                                
                                <div class="community-box wow fadeInUp" style="text-align: left; color: #000 !important;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="icon-container">
                                                <img src="{% static 'img/No_Image_Found1.jpg' %}" alt="community" style="max-width: 150px; border: 1px solid #ddd;">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <h6 class="h6 bold">Salinity problems and crop production in coastal regions of Bangladesh.</h6>
                                            <p style="margin-bottom: 0px;">
                                                Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies. Some dodgy chav bevvy amongst argy-bargy spiffing absolutely bladdered nancy boy cup of tea a load of old tosh porkies.
                                            </p>
                                            <a href="#" style="color:darkviolet;">Read more</a> | <a href="#" class="doc_border_btn btn_small" ><i class="fa-sharp fa-solid fa-download fa-fw" style="margin-left: 0px;"></i><span style="margin-left: 10px;">Download</span></a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="">
<select id="example-getting-started" multiple="multiple">
    <option value="cheese">Cheese</option>
    <option value="tomatoes">Tomatoes</option>
    <option value="Mozzarella">Mozzarella</option>
    <option value="Mushrooms">Mushrooms</option>
    <option value="Pepperoni">Pepperoni</option>
    <option value="Onions">Onions</option>
</select>
</div> -->

<script>
    const targetDiv = document.getElementById("DivSearch");
    const btn = document.getElementById("submit");

    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
        } else {
            targetDiv.style.display = "block";
        }
    };
</script>

<script type="text/javascript">

    $(document).ready(function() {
            $('#xample-getting-started').multiselect({
            includeSelectAllOption: true,
            });
        });

    // $(document).ready(function() {
    //     $('#example-getting-started').multiselect({
    //         includeSelectAllOption: true,
    //         allSelectedText: 'No option left ...'
    //     });
    // });
</script>



{% endblock %}