{% extends 'main.html' %}
{% load static %}


{% block style_content %}

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-multiselect.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/popup_modal_style.css' %}">  

<style>
    
    .multiselect-native-select .btn-group button.dropdown-toggle::after {
        position: absolute;
        right: 1rem;
        top: 50%;
        content: '';
        display: block;

        margin: 0 none;
        border: 0 none;
        border-bottom: 2px solid #777;
        border-right: 2px solid #777;
        width: 0.5rem;
        height: 0.5rem;
        margin-top: -0.4rem;
        pointer-events: none;

        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
    }

    .multiselect-native-select .btn-group.show button.dropdown-toggle::after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }


    .multiselect-container {
        width: 100%;
        font-size: 0.85rem;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(77, 77, 77, 0.15);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;
    }

    .multiselect-container.show {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .multiselect-container .multiselect-filter {
        position: sticky;
        top: 0;
        z-index: 1;
    }


    .multiselect-container .multiselect-filter .multiselect-search,
    .multiselect-container .multiselect-filter input.multiselect-search,
    .multiselect-container .multiselect-filter>input.multiselect-search {
        height: auto;
        min-height: 2.25rem;
    }

    .multiselect-container .multiselect-all,
    .multiselect-container .multiselect-group,
    .multiselect-container .multiselect-option {
        outline: none;
        list-style: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.035);
        min-height: 2.5rem;
        padding: 0.25rem 0.25rem 0.25rem 0.75rem;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
        background-color: #fafcfd;

        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }


    .multiselect-container .multiselect-all:focus,
    .multiselect-container .multiselect-all:hover,
    .multiselect-container .multiselect-group:focus,
    .multiselect-container .multiselect-group:hover,
    .multiselect-container .multiselect-option:focus,
    .multiselect-container .multiselect-option:hover/*,

    .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback):hover,
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active:hover,
    .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback):hover,
    .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active:hover,
    .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback):hover,
    .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active:hover*/ {
        color: #135387;
        background: #cdf5fa !important;
    }


    .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active::before,
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):focus::before,
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):hover::before,
    .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):focus::before,
    .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active::before,
    .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active::before {
        content: "";
        width: 0.15rem;
        height: 0;
        position: absolute;
        left: 0;
        background: #35c5d5 !important;
        transition: all 0.2s linear;
    }


    .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active,
    .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
    .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
    .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
    .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
        font-weight: 500;

        color: #025378;
        background: #a3d5f5 !important;
        
        color: #053858;
        background: #85daf5 !important;
    }

    .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
    .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
        padding-left: 0.95rem;
    }


    .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active::before,
    .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active::before,
    .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback)::before,
    .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active::before {
        content: "";
        width: 0.15rem;
        height: 0;
        position: absolute;
        left: 0;
        background: #13b5d7 !important;
        transition: all 0.2s linear;
    }



    .multiselect-container .multiselect-all .form-check-label {
        font-weight: 600 !important;
        font-size: 102% !important;
    }

    .multiselect-container .multiselect-group .form-check-label {
        font-weight: 600 !important;
    }

</style>

<style>
    
    .container {
        max-width: 100% !important;
    }

    .container-fluid {
        max-width: 95% !important;
        padding-left: 15px;
        padding-right: 15px;
    }


    .breadcrumb_area {
        padding: 0;
        background: none;
    }

    .breadcrumb_area .banner_search_form {
        z-index: 5;
        display: flex;
        position: relative;
        max-width: 70vw;
        margin: 0 auto;
    }

    .banner_search_form .form-control {
        border: 0 none;
        height: 4.5rem;
        padding-left: 2rem;
        font-size: 0.85rem;
        color: #1a2748;
        box-shadow: none;
        border-radius: 0.25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .banner_search_form .form-control.placeholder ,
    .banner_search_form .form-control:-moz-placeholder,
    .banner_search_form .form-control::-moz-placeholder,
    .banner_search_form .form-control::-webkit-input-placeholder {
        color: #8587a5;
    }

    .banner_search_form button[type="submit"] {
        border: 0 none;
        padding: 0.25rem 1.75rem;
        font-size: 1.25rem;
        color: #fff;
        text-align: center;
        background: #10b3d5;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.4s linear;
    }

    
    .community-box {
        margin: 0 0 0.75rem 0;
        padding: 1rem 0;
        box-shadow: 1px 2px 3px 2px rgba(5, 45, 58, 0.15);
        border-radius: 0.25rem;
    }

    .community-content {
        min-height: 10rem;
    }



    .org-content {
        border: 1px solid #ddd;
        margin: 0 auto;
        padding: 0.75rem;
        width: auto;
        height: 7.5rem;
        min-width: 7.5rem;
        box-shadow: 1px 2px 3px 2px rgba(75, 150, 175, 0.25);

        background-image: linear-gradient(to left bottom, #eee, #ecedee, #f4f4f4, #e7eaee, #e4e9ee);
        background-image: url(/{{static}}/img/banner_back/bann1.jpg);
        background-color: #f5fcfd;
    }

    .org-content:hover {
        border: 1px solid #ccc;
        box-shadow: 1px 5px 15px 3px rgba(70, 100, 150, 0.25);
    }

    .org-logo {
        width: 90px;
        margin-bottom: 10px;
    }

    /* .org-logo-BWDB {} */

    .org-logo-RRI {
        width: 72px;
    }

    /* .org-logo-JRC {} */

    /* .org-logo-DBHWD {} */

    .org-logo-WARPO {
        margin-top: 15px;
        margin-bottom: 17px;
    }

    .org-logo-IWM {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .org-logo-CEGIS {
        margin-top: 20px;
        margin-bottom: 30px;
    }


    .cat-title {
        display: block;
        margin: 0.5rem 0 0.25rem 0;
        padding: 0.5rem;
        padding-left: 0.75rem;
        color: #fff;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: left;
        background-image: linear-gradient(60deg, rgb(15, 180, 185) 0%, rgb(0, 40, 100) 100%);
        border-radius: 4px;
        box-shadow: 2px 2px 3px 1px rgba(5, 45, 58, 0.46);
    }

    .cat-title:hover {
        color: #aef;
    }

    .scat-title {
        display: block;
        border-left: 0.15rem solid #1ab;
        border-top: 1px solid #acd9d9;
        border-right: 1px solid #acd9d9;
        border-bottom: 1px solid #acd9d9;
        margin: 0.25rem 0 0.25rem 0.25rem;
        padding: 0.5rem;
        padding-left: 0.65rem;
        color: #135;
        font-size: 0.85rem;
        text-align: left;
        background: rgba(25, 175, 235, 0.05);
        border-radius: 0 !important;
    }

    .scat-title:hover {
        border-left: 0.25rem solid #2cf;
        color: #08c;
    }

    .data-cat-title {
        display: block;
        margin: 0.5rem 0 0.75rem 0;
        padding: 0.5rem;
        padding-left: 0.7rem;
        color: #fff;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: left;
        background-image: linear-gradient(60deg, rgb(15, 180, 185) 0%, rgb(0, 40, 100) 100%);
        border-radius: 0.25rem;
        box-shadow: 2px 2px 3px 1px rgba(5, 45, 58, 0.46);
    }
    

    .smbtn {
        padding: 0.15rem 0.75rem 0.15rem 0.5rem;
    }

    .btn-rm {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        color: #1ac !important;
        cursor: pointer;
        background: none !important;
    }

    .btn-rm:hover {
        margin-left: 0.25rem;
        color: #2ce !important;
    }

    .sticky-top{
        z-index: 0 !important;
    }


    
</style>

{% endblock %}


{% block content %}

<div class="container-fluid mt-3 pl-3 pr-3">
    <div class="row">
        <div class="col-md-3 text-left">
            <a href="{% url 'dashboard' %}" class="doc_border_btn m-1 pt-2 pb-2 pl-3 pr-3">
                <i class="arrow_left m-0"></i> Back
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h5 class="wow fadeInUp mt-2 d-inline-flex" style="border-bottom: 2px solid #27a; color: #05a;">Search Other Documents</h5>
        </div>
        <div class="col-md-3 text-right">
        </div>
    </div>
</div>


<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-lg-10 col-xlg-8 ml-auto mr-auto">
            <form action="." method="GET" multiple>
                <!-- List of Organization -->
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row wow fadeInUp">                                 
                                {% for org_type in org_types %}
                                    <div class="col-md-2 mt-3">                
	                                    <label class="doc_border_btn" for="doc_type_{{org_type.id}}" style="width: 100%; padding: 10px 5px; ">                                       
		                                    <label for="doc_type_{{org_type.id}}" style="margin: 10px 0px 0px 15px;">{{org_type}}</label><i class="arrow_right"></i>
		                                    <div class="mb-3" style="float: right; bottom: 15px; right: -6px;">
			                                    <input type="checkbox" class="control-input" id="doc_type_{{org_type.id}}" name="src_doc_type" value="{{org_type.id}}" {% if src_doc_type in org_type.id  %}
			                                        checked {% endif %} >                                           
		                                    </div> 
	                                    </label>
                                    </div> 
                                {% endfor %}

                            </div>
                        </div>
                    </div>                     
                </section>

                <!-- searchbox area section    -->  
                <section>
                    <div class="breadcrumb_area mt-2">
                        <div class="banner_search_form m-0 p-0" style="max-width: 100%; border: 1px solid #13aeda;">
                            <div class="input-group">
                                <input type="search" id="search_term" name="search_term" class="form-control"
                                    placeholder='Search' value='{{ search_term }}' />
                                <div class="input-group-append">
                                    <select class="multi-select" id="src_doc_cats" name="src_doc_cats"
                                        multiple="multiple">
                                        {% comment %} <option value="" selected>All Categories</option>
                                        {% endcomment %}

                                        {% for cat_info in doc_cats %}
                                        <option value="{{cat_info.id}}" {% if cat_info.id in src_doc_cats %}
                                            selected {% endif %}>{{cat_info.category_name}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <button type="submit" id="btnSearch"><i class="icon_search"></i></button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-lg-10 col-xlg-8 ml-auto mr-auto">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3 col-xxl-2 wow fadeInUp" >   <!--  style="background: #f5fafc;" -->
                    <div class="pt-2 sticky-top" style="top: 4.75rem;"> 
                        <h5 class="border-bottom mb-1 pt-1 pb-1" style="color: #05a;">
                            <i class="fa-solid fa-list-check"></i> Selected Document Type
                        </h5>                        
                        <div class="row" >
                            <div class="col-12" style="max-height: 85vh; overflow-y: auto;">
                                <div class="nav flex-column">    
                                    <!-- <a class="nav-link cat-title" data-wow-delay="0.2s" href="#">
                                        <i class="fa-solid fa-list fa-fw"></i><strong>{{src_doc_type}}</strong>
                                    </a> --> 
                                    
                                    {% for doc in documents %}
                                    {% comment %}{% if doc.organization.organization_type.id in src_doc_type %} {% endcomment %}
                                    {% comment %}   {% ifchanged src_doc_type %} {% endcomment %}
                                            <a class="nav-link cat-title" data-wow-delay="0.2s"
                                                href="#{{doc.organization.short_name}}_{{doc.organization_id}}_{{doc.data_category_id}}">
                                                <i class="fa-solid fa-list fa-fw"></i> {{doc.organization.organization_type.type_name}}
                                            </a>
                                            {% comment %}  {% endifchanged %}{% endcomment %}

                                        {% ifchanged doc.data_category.category_name %}
                                            <a class="nav-link scat-title" data-wow-delay="0.2s"
                                                href="#{{doc.organization.short_name}}_{{doc.organization_id}}_{{doc.data_category_id}}">
                                                {{doc.data_category.category_name}} 
                                            </a>
                                        {% endifchanged %}
                                        {% comment %}  {% endif %}{% endcomment %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-10 wow fadeInUp">         <!--  style="background: #f5fafc;" -->        
                    <div class="pt-2" style="top: 75px;">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 pl-0 border-bottom">
                                    <h5 class="mb-1 pt-1 pb-1" style="color: #05a;">
                                        <i class="fa-solid fa-file-magnifying-glass"></i> Search Result (<strong style="color:#047; font-size:105%;">{{doc_count}}</strong>)
                                    </h5>
                                </div>                                
                            </div>                           
                        </div>
                        <!-- <h5 class="border-bottom mb-1 pt-1 pb-1" style="color: #05a;">
                            <i class="fa-solid fa-file-magnifying-glass"></i> Search Result (<strong style="color:#047; font-size:105%;">{{doc_count}}</strong>)
                        </h5> -->

                        {% for doc in documents %}
                            {% ifchanged doc.data_category.category_name %}
                                <div class="row wow fadeInUp">
                                    <div class="col-md-12">
                                        <span
                                            id='{{doc.organization.short_name}}_{{doc.organization_id}}_{{doc.data_category_id}}'
                                            class="data-cat-title" data-wow-delay="0.2s">
                                            <i class="fa-solid fa-table-list"></i> {{doc.organization.organization_type}}
                                            ({{doc.data_category.category_name}})
                                        </span>
                                    </div>
                                </div>
                            {% endifchanged %}
                            
                            <div class="row community-box wow fadeInUp text-left">
                                <div class="col-md-2">
                                    <div class="icon-container">
                                        {% if doc.thumbnail == null or doc.thumbnail == "" %}
                                        <img src="{% static 'img/doc-img/pdf_thum.jpg' %}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">                                        
                                        {% else %}
                                        <img src="/{{doc.thumbnail}}" alt="{{doc.title|truncatewords:'250'}}" style="max-width: 100%; border: 1px solid #ddd;">
                                        {% endif %}
                                    <!-- <img src="{% static 'img/doc-img/' %}{{doc.thumbnail}}" alt="{{doc.title}}" width="100%" style="max-width: 250px;" /> -->
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <table class="table table-striped table-hover w-100 border mb-2">
                                        {% if doc.access_category.id != 1 %}
                                        <tr>
                                            <td class="text-left font-weight-bold">Access: </td>
                                            <td class="text-left font-weight-bold text-danger">{{doc.access_category.category_name|truncatewords:"200"}}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="text-left font-weight-bold" style="width: 100px;">Title:</td>
                                            <td class="text-left font-weight-bold">{{doc.title|truncatewords:"200"}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left font-weight-bold">Subject:</td>
                                            {% comment %} <td class="text-left">{{doc.subject|truncatewords:"250"}}</td> {% endcomment %}
                                            <td class="text-left">{{doc.organization.organization_name}}
                                                ({{doc.data_category.category_name}})</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left font-weight-bold">Decription:</td>
                                            <td class="text-left">
                                                <div class="post">
                                                    <span class="content_p">{{doc.decription|truncatewords:"1000"}}</span>
                                                    <button class="btn-rm" onclick="read_more(this)">Read More</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <a target="_blank" href="{% url 'document-details' %}{{doc.id}}" class="doc_border_btn smbtn">
                                        <i class="fa-solid fa-circle-info fa-fw ml-0"></i><span class="ml-2">Details</span></a>

                                    <!-- <a class="doc_border_btn smbtn ml-2" href="" onclick="checkFileAvailability('{{doc.organization.short_name}}', '{{doc.access_category}}', '{{doc.file_name}}')">
                                        <i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></a> -->

                                    <a id="docFileDownload" href="{% static 'document/' %}{{doc.organization.short_name}}/{{doc.access_category}}/{{doc.file_name}}" download="{{doc.file_name}}" style="display:none;"></a>
                                    <button class="doc_border_btn smbtn ml-2" onClick="download_file()"><i class="fa-solid fa-download fa-fw ml-0"></i><span class="ml-2">Download</span></button>
    
                                    {% if user.is_authenticated and user.is_superuser or user.is_organizational_admin %}
                                        <a target="_blank" href="/admin/knowledgebase/document/{{doc.id}}/change/" class="doc_border_btn smbtn float-right">
                                            <i class="fa-solid fa-pen-to-square fa-fw ml-0"></i><span class="ml-2">Edit</span></a>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



{% block script_content %}

<script>

$("#select_more").click(function () {     
        
    var dim = $('#select_more_part').is(":visible");
        if (dim == false) {
            $("#select_more_part").show();
        }
        else
        {
            $("#select_more_part").hide();
        }             
});

    // **** From popup modal button click
    // function GetLink (btn_id) {
    //     const arr = btn_id.split('_');
    //     var doc_id = arr[arr.length - 1];

    //     $('.community-box').each(function () {            
    //         $(this).find('a').each(function () {
    //             //alert($(this).attr('href'));
    //             const arr_link  = $(this).attr('href').split('/');
    //             var link_doc_id = arr_link[arr_link.length - 1];

    //             if ($.isNumeric(link_doc_id ))
    //             {
    //                 if (link_doc_id === doc_id)
    //                 {
    //                     const parentWithClass = $(this).closest('.community-box');
    //                     parentWithClass.css({background: '#d5edf7'});                                          
    //                     $(this).scrollToMe();                        
    //                 }
    //                 else 
    //                 {
    //                     const parentWithClass = $(this).closest('.community-box');
    //                     parentWithClass.css({background: '#fff'});                                        
    //                 } 
    //             }               
    //         });            
    //     });
    // };

    // jQuery.fn.extend({
    // scrollToMe: function () {
    //     var x = jQuery(this).offset().top - 250;
    //     jQuery('html,body').animate({scrollTop: x}, 500);
    // }});


</script>


<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap-multiselect.min.js' %}"></script>

<script type="text/javascript">
    function download_file() {
        document.getElementById("docFileDownload").click()
    }
    
    function checkFileAvailability (shortName, accessCat, fileName){
        var fileLocation = window.location.origin + '/static/document/'+ shortName + '/' + accessCat + '/' + fileName
        //alert(fileLocation);
        $.ajax({
            type: 'get',
            url: fileLocation,
            success: function(data, textStatus, XMLHttpRequest){
                //console.log('Error: ' + textStatus);
                var anchor = document.createElement('a');
                anchor.href = fileLocation;
                anchor.target="_blank";
                anchor.click();                
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('Error! File Not Found!');
                // Swal.fire(
                //     'Error!',
                //     'File Not Found!',
                //     'error'
                // )

                // Swal.fire({
                //     position: 'top-end',
                //     icon: 'error',
                //     title: 'File Not Found!',
                //     showConfirmButton: false,
                //     timer: 5500
                // })
            }
        })
    }

    $(function () {

        $("#src_doc_cats")
            .multiselect({
                maxHeight: 230,
                buttonWidth: '100%',

                enableFiltering: true,
                filterPlaceholder: "Search",
                enableCaseInsensitiveFiltering: true,

                enableClickableOptGroups: true,
                enableCollapsibleOptGroups: true,

                selectAllText: "All Categories",
                selectAllValue: "",
                allSelectedText: "All Categories",
                includeSelectAllOption: true,

                nonSelectedText: "All Categories",
                nSelectedText: " selected",
                disableIfEmpty: false,
            });

    });
</script>


<!-- *****  Starts Read More and Less Style  ***** -->
<script type="text/javascript">
    let noOfCharac = 250;
    let contents = document.querySelectorAll(".content_p");

    contents.forEach(content_p => {
        if (content_p.textContent.length < noOfCharac) {
            content_p.nextElementSibling.style.display = "none";
        } else {
            let displayText = content_p.textContent.slice(0, noOfCharac);
            let moreText = content_p.textContent.slice(noOfCharac);
            content_p.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function read_more(btn) {
        let post = btn.parentElement;

        post.querySelector(".dots").classList.toggle("hide");
        post.querySelector(".more").classList.toggle("hide");

        btn.textContent == "Read More" ? btn.textContent = "Read Less" : btn.textContent = "Read More";
    }
</script>
<!-- *****  Ends Read More and Less Style  ***** -->


<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

{% endblock %}