{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block content %}

<div class="row m-5">
    <div class="col-md-12">
        <h4>Edit Document</h4>

        <form enctype="multipart/form-data" action="/update/{{document.id}}" method="post">
            <!-- Security token -->
            {% csrf_token %}
            
            <!-- <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Organization</label>
                        {{ form.organization }}
                    </div>
                </div>
            </div> -->
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Document Title</label>
                        <input type="text" class="form-control" value="{{ document.title }}" />
                    </div>
                </div>                
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" value="{{ document.subject }}" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Description</label>
                        <!-- <input type="text" class="form-control" value="{{ document.description }}" /> -->
                        <textarea name="description" cols="40" rows="3" class="form-control" required="" id="id_description" value="{{ document.description }}"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" value="{{ document.author }}" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Data Category</label>
                        <input type="text" class="form-control" value="{{ document.data_category }}" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Access Category</label>
                        <input type="text" class="form-control" value="{{ document.access_category }}" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Publication Date</label>
                        <input type="text" class="form-control" value="{{ document.publication_date }}" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Search Keywords</label>
                        <input type="text" class="form-control" value="{{ document.keywords }}" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Thumbnail</label>
                        <input type="file" name="thumbnail" accept="image/*" id="id_thumbnail">
                        <!-- {{ form.thumbnail }} -->
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" name="file_name" id="id_file_name">
                        <!-- {{ form.file_name }} -->
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>                
            </div>
        </form>
    </div>
</div>

{% endblock %}