.border_dot {
  border: 1px dashed #ccc;
}

.modal {
  width:auto !important;
  height:auto !important;
}
.modal-open {
  overflow: auto !important;
}

#dragable_modal {
  /* position:static; */
  overflow: hidden;
  z-index: 1500;
}

#dragable_modal .modal-dialog {
  position: fixed;
  /* max-width: 100%; */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  background: var(--white);
  min-width: 300px;
  min-height: 500px;
  max-width:100%;
  margin: 0;
  border-radius: .3rem;
  background-color: transparent;
  /* padding: 20px; */
  /* overflow: hidden; */
  /* resize: both; */
}

#dragable_modal .modal-content {
  /* padding: 20px; */
  height: 700px;
  overflow: hidden;
  resize: both;
  width: 1000px;
  min-width: 300px;
  min-height: 500px;
}

#dragable_modal .modal-body {
  height: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#dragable_modal .modal-header {
  background: linear-gradient(60deg, rgb(0, 38, 96) 0%, rgb(16, 181, 189) 100%);     /* var(--dark); */
  color: var(--white);
  border-bottom: 0px;
  padding: 0px;
}
#dragable_modal .modal-header h3 {
  color: var(--white);
  font-size: 18px;
}
#dragable_modal .close_btn {
  top: -2px;
  margin: 0px !important;
  opacity: 1;
  width: 30px;
  height: 30px;
  padding: 0px;
  color: #fff;
}

.custom_tab_on_editor {
  background: var(--orange);
  padding: 0px;
  margin: 0px;
}

.custom_tab_on_editor .nav-item {
  margin-bottom: 0px;
}
.custom_tab_on_editor .nav-item .nav-link {
  min-width: 100px;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 10px;
  color: var(--white);
}

.custom_tab_on_editor .nav-item .nav-link:hover {
  color: #ffffff;
  border-width: 0px;
  background: #ffb586;
  border-bottom: 0px solid transparent;
}

.custom_tab_on_editor .nav-item.show .nav-link,
.custom_tab_on_editor .nav-link.active {
  color: #ffffff;
  border-width: 0px;
  background: #ffb586;
  border-bottom: 0px solid transparent;
  position: relative;
}
.dragable_touch {
  cursor: move;
}

.custom_tab_on_editor .nav-item.show .nav-link:before,
.custom_tab_on_editor .nav-link.active:before {
  content: "";
  border-bottom: 10px solid var(--white);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
