<!doctype html>
<html lang="en">

<head>

    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MoWR::Knowledge Base</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">    
    <!-- Bootstrap SCSS -->
    <link rel="stylesheet" href="{% static 'scss/_banner.scss' %}">

    <link rel="stylesheet" href="{% static 'assets/bootstrap-data-tables/css/dataTables.bootstrap4.min.css' %}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/sharp-solid.css' %}">

    <link rel="stylesheet" href="{% static 'assets/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/slick/slick-theme.css' %}">

    <!-- Tooltip -->
    <link rel="stylesheet" href="{% static 'assets/tooltipster/css/tooltipster.bundle.css' %}">

    <!-- icon css-->
    <link rel="stylesheet" href="{% static 'assets/elagent-icon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/niceselectpicker/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/animation/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    <style>
        .container {
            max-width: 95% !important;
        }

        .preloader-bg {
            background-image: url('/static/img/loadings/806_BT.gif');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 90%;
            width: 300px;
            height: 300px;
        }

        

        .footer-logo {
            color: #fff !important;
            font-size: 0.7rem;
        }

        .footer-logo:hover {
            color: #18c !important;
        }

        .parallax>use {
            animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        }

        .parallax>use:nth-child(1) {
            animation-delay: -5s;
        }

        .parallax>use:nth-child(2) {
            animation-delay: -7s;
            animation-duration: 5.25s
        }

        .parallax>use:nth-child(3) {
            animation-delay: 1s;
            animation-duration: 8.25s
        }

        .parallax>use:nth-child(4) {
            animation-delay: -3s;
            animation-duration: 10.25s
        }

        @keyframes move-forever {
            0% {
                transform: translate(-90px, 0%)
            }

            100% {
                transform: translate(85px, 0%)
            }
        }

    </style>


    {% block style_content %}

    {% endblock %}

</head>

<body class="d-flex flex-column min-vh-100" data-scroll-animation="true">
    <!-- preloader section -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="round_spinner preloader-bg">
                <div class="text text-white">
                    <h6 class="text-white">Loading...</h6>
                </div>
            </div>
        </div>
    </div>



    <!-- navbar with menu section -->
    <nav class="navbar navbar-expand-lg menu_one" id="sticky"
        style="background-image: linear-gradient(60deg, rgb(0, 145, 175) 0%, rgb(25, 45, 85) 70%);">
        <div class="animated-waves">
            <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg"
                style="height:100%; width:100%; opacity:0.2;">
                <title>Wave</title>
                <path id="animated-wave-three" d="" fill="rgba(0, 140, 235, 0.15) !important" />
            </svg>
            <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg"
                style="height:100%; width:100%; opacity:0.2;">
                <title>Wave</title>
                <path id="animated-wave-four" d="" fill="rgba(0, 130, 235, 0.15) !important" />
            </svg>
        </div>


        <div class="container-fluid">
            <a class="navbar-brand sticky_logo" href="/">
                <!-- customized logo -->
                <img src="{% static 'img/knowledge_logo_w.png' %}"
                    style="min-height: 40px; height: 4vw; max-height: 60px; width: auto; padding-left: 8px;"
                    srcset="{% static 'img/knowledge_logo_w.png' %} 2x" alt="logo">
                <img src="{% static 'img/knowledge_logo.png' %}"
                    style="min-height: 40; height: 4vw; max-height: 60px; width: auto; padding-left: 8px;"
                    srcset="{% static 'img/knowledge_logo.png' %} 2x" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="menu_toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu ml-auto">
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content">

        {% block content %}

        {% endblock %}

    </div>

    <!-- footer -->
    <footer class="footer_area f_bg_color mt-auto" style="font-size: 12px; border-top: 1px solid rgba(0, 0, 0, 0.15)">

        <section class="doc_fun_fact_area"
            style="background-image: linear-gradient(180deg, rgba(29, 39, 70) 0%, rgba(0, 47, 70, 0.8) 100%); padding: 0px;">
            <!--  linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 47, 70, 0.8) 100%); background: #eff4ff; #E4EEF0 -->

            <div class="animated-waves">
                <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    style="height:100%; width:100%; opacity:0.2;">
                    <title>Wave</title>
                    <defs></defs>
                    <path id="animated-wave-three" d="" fill="rgba(0, 140, 234, 0.14) !important" />
                </svg>
                <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    style="height:100%; width:100%; opacity:0.2;">
                    <title>Wave</title>
                    <defs></defs>
                    <path id="animated-wave-four" d="" fill="rgba(0, 130, 234, 0.14) !important" />
                </svg>
            </div>

            <div class="container">
                <div class="row" style="border-bottom: 1px solid #134575; background: rgba(0, 0, 0, 0.025);">
                    <!-- background: rgba(0, 39, 57, 0.3);  background: #E4EEF0;   #00026a -->
                    <div class="col text-center mt-2" style="min-height: 30px;">
                        <a href="/">Home</a> | <a href="{% url 'dashboard' %}">Dashboard</a> | 
                        <a href="{% url 'search-by-org' %}">Search by Organization</a> | 
                        <a href="{% url 'search-by-cat' %}">Search by Document Category</a> | 
                        <a href="{% url 'search-by-nat' %}">Other Document(s) Search</a> | 
                        <a href="#">Contact Us</a> | 
                        <a href="#">Help</a> | 
                        <a href="#">Sign in </a>
                    </div>
                </div>

                <div class="row p-2 h-auto">
                    <div class="col-md-3 text-center text-md-left pt-2 pb-2">
                        <a class="footer-logo" href="http://www.mowr.gov.bd/" target="_blank">
                            <img src="/static/img/article_logo/BD_GOV.png" alt="MOWR" title="MOWR" style="width: 50px;">
                            <label>© 2022 MOWR | All Rights Reserved.</label>
                        </a>
                    </div>

                    <div class="col-md-6 text-center pt-3 pb-3 pt-md-1 pb-md-0">
                        <div class="mb-1">
                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="https://bwdb.gov.bd/"
                                role="button">
                                <img src="/static/img/org_img/logo/BWDB.png" alt="BWDB" title="BWDB" style="width: 50px;">
                                <br>
                                BWDB
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="https://rri.gov.bd/"
                                role="button" style="">
                                <img src="/static/img/org_img/logo/RRI.png" alt="RRI" title="RRI" style="width: 40px;">
                                <br>
                                RRI
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="#!" role="button">
                                <img src="/static/img/org_img/logo/JRC.png" alt="JRC" title="JRC" style="width: 50px;">
                                <br>
                                JRC
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="http://dbhwd.gov.bd/"
                                role="button">
                                <img src="/static/img/org_img/logo/DBHWD.png" alt="DBHWD" title="DBHWD" style="width: 50px;">
                                <br>
                                DBHWD
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="http://dbhwd.gov.bd/"
                                role="button">
                                <img src="/static/img/org_img/logo/WARPO.png" alt="WARPO" title="WARPO" style="width: 70px; padding: 1px 0px;">
                                <br>
                                WARPO
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="https://www.iwmbd.org/"
                                role="button">
                                <img src="/static/img/org_img/logo/IWM.png" alt="IWM" title="IWM" style="width: 50px; padding: 5px 0px;">
                                <br>
                                IWM
                            </a>

                            <a class="btn footer-logo btn-floating m-1 p-0 text-white" href="https://www.cegisbd.com/"
                                role="button">
                                <img src="/static/img/org_img/logo/CEGIS.png" alt="CEGIS" title="CEGIS" style="width: 70px; padding: 9px 0px;">
                                <br>
                                CEGIS
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 text-center text-md-right pt-2 pb-2">
                        <a class="footer-logo" href="https://cegisbd.com/" target="_blank">
                            <label>Developed by</label>
                            <img src="/static/img/article_logo/CEGIS.png" alt="CEGIS" style="width: 70px; margin-left: 5px;">
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </footer>

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>


    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/bootstrap-data-tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-data-tables/js/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pre-loader.js' %}"> </script>
    <script src="{% static 'js/parallaxie.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/jquery.wavify.js' %}"></script>
    <script src="{% static 'assets/slick/slick.min.js' %}"></script>
    <script src="{% static 'assets/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/niceselectpicker/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'assets/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/counterup/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/tooltipster/js/tooltipster.bundle.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>


    {% block script_content %}

    {% endblock %}


</body>

</html>