<!doctype html>

{% load static %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>MoWR::Knowledge Base</title>
    
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">    
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-select.css' %}">    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">
        
        <link rel="stylesheet" href="{% static 'assets/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/slick/slick-theme.css' %}">    

        <!-- Bootstrap SCSS -->
        {% comment %} <link rel="stylesheet" href="{% static 'scss/_banner.scss' %}"> {% endcomment %}

        <!-- Tooltip -->
        <link rel="stylesheet" href="{% static 'assets/tooltipster/css/tooltipster.bundle.css' %}">

        <!-- icon css-->
        <link rel="stylesheet" href="{% static 'assets/elagent-icon/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/niceselectpicker/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/animation/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">        
    
        <style>

            .breadcrumb_area .banner_search_form button {
            background: #10b3d6;        /* #019d19; */
            }

            .custom-select ul li:hover, .custom-select ul li.selected {  
                color: #10b3d6;        /* #019d19; */
            }

            .breadcrumb_area { 
                padding: 130px 0 40px; 
            }
            .container-fluid {
                padding-left: 60px;
                padding-right: 60px;
            }
            .section_title p {
                max-width: none;
            }
            .sec_pad {
                padding: 15px 0;
            }
            .section_title {
                margin-bottom: 15px;
            }

            .container {
                max-width: 85% !important;
            }

            .icon_facebook a {
                /* background: #fff !important;  */
                border:2px solid #1877f2 !important;  
                color: #1877f2 !important; 
            }

            .icon_facebook a:hover {
                background: #1877f2 !important;    
                border-color: #1877f2 !important; 
                color: #fff !important;
            }

            .icon_twiter a {
                /* background: #fff !important;  */
                border:2px solid #55acee !important;  
                color: #55acee !important; 
            }

            .icon_twiter a:hover {
                background: #55acee !important;    
                border-color: #55acee !important; 
                color: #fff !important;
            }
            
            .icon_linkedin a {
                /* background: #fff !important;  */
                border:2px solid #0A66C2 !important;  
                color: #0A66C2 !important; 
            }

            .icon_linkedin a:hover {
                background: #0A66C2 !important;    
                border-color: #0A66C2 !important; 
                color: #fff !important;
            }
            
            .icon_youtube a {
                /* background: #fff !important;  */
                border:2px solid #AC0000 !important;  
                color: #AC0000 !important; 
            }

            .icon_youtube a:hover {
                background: #AC0000 !important;    
                border-color: #AC0000 !important; 
                color: #fff !important;
            }

            .logo_round {
                min-height: 45px;
                min-width: 60px;
                padding: 0px 3px;
                float: left;
                font-size: 10px;
            }

            .logo_rect {
                min-height: 45px;
                min-width: 80px;
                padding: 0px 3px;
                float: left;
                font-size: 10px;
            }

            /* SVG Styles */
            .parallax > use {
                animation:move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
            }

            .parallax > use:nth-child(1) {animation-delay:-5s;}
            .parallax > use:nth-child(2) {animation-delay:-7s; animation-duration:5.25s}
            .parallax > use:nth-child(3) {animation-delay:1s; animation-duration:8.25s}
            .parallax > use:nth-child(4) {animation-delay:-3s; animation-duration:10.25s}

            @keyframes move-forever {
                0% {transform: translate(-90px , 0%)}
                100% {transform: translate(85px , 0%)} 
            }

            /* SVG Style */


        </style>

        {% block style_content %}

        {% endblock %}

    </head>

    <body class="d-flex flex-column min-vh-100" data-scroll-animation="true">
        <!-- preloader section -->
        <div id="preloader" style="background-image: url(/static/img/patterns/subtle_grunge.png) !important;">           <!--  subtle_grunge.png fancy_deboss.png -->
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="round_spinner" style="border-color: rgb(123, 181, 181) !important;">                    
                    <div class="text">
                        <img src="{% static 'img/loadings/108_T.gif' %}" width="100%" alt="">
                        <h6>loading...</h6>
                    </div>
                </div>
            
            
                <!-- <div class="round_spinner">
                    <div class="spinner"></div>
                    <div class="text">
                        <img src="{% static 'img/govt_seal.png' %}" alt="">
                        <h4><span>kb</span>Doc</h4>
                    </div>
                </div> -->
                <!-- <h2 class="head">Did You Know?</h2> -->
                <!-- <p></p> -->
            </div>
        </div>

        
        <!-- navbar with menu section -->
        <nav class="navbar navbar-expand-lg menu_one" id="sticky" style="background-image: linear-gradient(60deg, rgb(0, 145, 179) 0%, rgb(29, 39, 70) 70%);" >
            <!--  linear-gradient(60deg, rgb(6, 74, 59) 0%, rgb(0, 72, 115) 90%);  linear-gradient(60deg, rgb(6, 74, 59) 0%, rgb(29, 39, 70) 90%)  linear-gradient(60deg, rgb(6, 74, 59) 0%, rgb(29, 39, 70) 90%) linear-gradient(60deg, rgb(6, 74, 59) 0%, rgb(2, 0, 63) 90%);  style="background-image: linear-gradient(60deg, #10b3d6 0%, #1d2746 100%);" -->
            <div class="animated-waves">
                <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" style="height:100%; width:100%; opacity:0.2;">
                    <title>Wave</title>
                    <defs></defs>
                    <path id="animated-wave-three" d="" fill="rgba(0, 140, 234, 0.14) !important"/>
                </svg>
                <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" style="height:100%; width:100%; opacity:0.2;">
                    <title>Wave</title>
                    <defs></defs>
                    <path id="animated-wave-four" d="" fill="rgba(0, 130, 234, 0.14) !important"/>
                </svg>
            </div>
            
            
            <div class="container-fluid">
                <a class="navbar-brand sticky_logo" href="/">
                    <!-- customized logo -->
                    <img src="{% static 'img/knowledge_logo_w.png' %}" style="min-height: 40px; height: 4vw; max-height: 60px; width: auto; padding-left: 8px;" srcset="{% static 'img/knowledge_logo_w.png' %} 2x" alt="logo">
                    <img src="{% static 'img/knowledge_logo.png' %}" style="min-height: 40; height: 4vw; max-height: 60px; width: auto; padding-left: 8px;" srcset="{% static 'img/knowledge_logo.png' %} 2x" alt="logo">
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu_toggle">
                        <span class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="hamburger-cross">
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav menu ml-auto">
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                        </li>
                        <!-- <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="{% url 'article' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Knowledge Base</a>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research & Publication</a>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analysis & Reporting</a>
                        </li> -->

                        {% if user.is_authenticated %}  
                        <!-- <li class="nav-item dropdown submenu">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Data Management <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                                data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="#" class="nav-link">Upload Document</a> </li>
                                <li class="nav-item"><a href="#" class="nav-link">Data Entry</a></li>                                    
                            </ul>
                        </li> -->



                        <li class="nav-item dropdown submenu mega_menu tab-demo">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Data Management <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                                data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">                                    
                                <li>
                                    <div class="row">
                                        <div class="col-lg-5 tabHeader">
                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                                aria-orientation="vertical">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="v-pills-doc-tab" data-toggle="pill"
                                                        href="#" role="tab" aria-controls="v-pills-doc"
                                                        aria-selected="true">Data Entry</a>
                                                </li>      
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#" role="tab" >Others</a>
                                                </li>                                                                                                 
                                            </ul>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="tab-content tabContent" id="v-pills-tabContent" style="box-shadow: none; border: none;">
                                                <div class="tab-pane fade" id="v-pills-doc" role="tabpanel" aria-labelledby="v-pills-doc-tab" style="margin-top: 0px;">
                                                    <div class="d-flex">
                                                        <ul class="list-unstyled tab_list">
                                                            <li>
                                                                <a href="/organization/view">Organization</a>
                                                            </li>
                                                            <li>
                                                                <a href="/document/view">Document</a>
                                                            </li>
                                                            <li>
                                                                <a href="/article/view">Article</a>
                                                            </li>
                                                        </ul>
                                                    </div>                                                        
                                                </div>                                                    
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        {% endif %}

                        <li class="nav-item dropdown submenu">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Search <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                                data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="{% url 'search' %}" class="nav-link">Search by Organization</a> </li>
                                {% comment %} <li class="nav-item"><a href="{% url 'orgsearch' %}" class="nav-link">Search by Organization</a> </li> {% endcomment %}
                                <li class="nav-item"><a href="{% url 'docsearch' %}" class="nav-link">Search by Document Type</a></li>
                                <li class="nav-item"><a href="{% url 'national_international' %}" class="nav-link">Search Other Document(s)</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                        </li>

                        <li class="nav-item dropdown submenu">
                            {% if user.is_authenticated  %}  
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi {{ user.username }}! <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href={% url 'accounts/user_profile' user.username %} class="nav-link">View profile</a></li>
                                <li class="nav-item"><a href={% url 'accounts/logout' %} class="nav-link">Logout</a></li>                                 
                                {% comment %} <li class="nav-item"><a href={% url 'accounts/user_list' user.organization_id %} class="nav-link">User List</a></li> {% endcomment %}
                                <li class="nav-item"><a href='/admin/accounts/customuser/' class="nav-link">User List</a></li>
                                <li class="nav-item"><a href='/admin/' class="nav-link">Manage Data</a></li>

                            </ul>
                            {% else %}
                            <a class="nav-link dropdown-toggle" href="{% url 'accounts/login' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
                            {% endif %}
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="main-content" >

            {% block content %}

            {% endblock %}

        </div>

        <!-- footer -->
        <footer class="footer_area f_bg_color mt-auto" style="font-size: 12px; border-top: 1px solid rgba(0, 0, 0, 0.15)">

            <section class="doc_fun_fact_area" style="background-image: linear-gradient(180deg, rgba(29, 39, 70) 0%, rgba(0, 47, 70, 0.8) 100%); padding: 0px;">    <!--  linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 47, 70, 0.8) 100%); background: #eff4ff; #E4EEF0 -->
                <div class="animated-waves">
                    <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" style="height:100%; width:100%; opacity:0.2;">
                        <title>Wave</title>
                        <defs></defs>
                        <path id="animated-wave-three" d="" fill="rgba(0, 140, 234, 0.14) !important"/>
                    </svg>
                    <svg class="animated-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" style="height:100%; width:100%; opacity:0.2;">
                        <title>Wave</title>
                        <defs></defs>
                        <path id="animated-wave-four" d="" fill="rgba(0, 130, 234, 0.14) !important"/>
                    </svg>
                </div>
                
                
                <div class="row" style="padding: 10px; border-bottom: 1px solid #004262; background: rgba(0, 0, 0, 0.025);">    <!-- background: rgba(0, 39, 57, 0.3);  background: #E4EEF0;   #00026a -->
                    <div class="col-lg-12 text-center">
                        <a href="/">Home</a> | <a href="{% url 'dashboard' %}">Dashboard</a> | <a href="{% url 'orgsearch' %}">Search by Organization</a> | <a href="{% url 'docsearch' %}">Search by Document Type</a> | <a href="{% url 'national_international' %}">Other Document(s) Search</a> | <a href="#">Contact Us</a> | <a href="#">Help</a> | <a href="#">Sign in </a>
                    </div>
                </div>
                    
                <div class="container">
                    <div class="row p-2 h-auto" style="color:#dfdfdf;">
                        <div class="col-md-3 text-center text-md-left pt-2 pb-2">
                            <img src="/static/img/article_logo/BD_GOV.png" alt="MOWR" title="MOWR" style="width: 50px;">                               
                                <label style="color:#dfdfdf;">© 2022 <a href="http://www.mowr.gov.bd/" target="_blank">MOWR</a> | All Rights Reserved.</label> 
                        </div>
                        <div class="col-md-6 text-center pt-3 pb-3 pt-md-1 pb-md-0">
                            <div class="row">
                                <div style="margin-left: auto; margin-right:auto;">   
                                    <div class="logo_round"><img src="/static/img/article_logo/BWDB.png" alt="BWDB" title="BWDB" style="width: 50px;"><br><label>BWDB</label></div>
                                    <div class="logo_round"><img src="/static/img/article_logo/rri.png" alt="RRI" title="RRI" style="width: 40px;"><br><label>RRI</label></div>
                                    <div class="logo_round"><img src="/static/img/article_logo/BD_GOV.png" alt="JRC" title="JRC" style="width: 50px;"><br><label>JRC</label></div>
                                    <div class="logo_round"><img src="/static/img/article_logo/BD_GOV.png" alt="DBHWD" title="DBHWD" style="width: 50px;"><br><label>DBHWD</label></div>
                                    <div class="logo_rect"><img src="/static/img/article_logo/WARPO.png" alt="WARPO" title="WARPO" style="width: 70px; padding: 1px 0px;"><br><label>WARPO</label></div>
                                    <div class="logo_rect"><img src="/static/img/article_logo/iwm.png" alt="IWM" title="IWM" style="width: 50px; padding: 5px 0px;"><br><label>IWM</label></div>
                                    <div class="logo_rect"><img src="/static/img/article_logo/CEGIS.png" alt="CEGIS" title="CEGIS" style="width: 70px; padding: 9px 0px;"><br><label>CEGIS</label></div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-3 text-center text-md-right pt-2 pb-2">
                            <label>Developed by <a href="https://cegisbd.com/" target="_blank"><img src="/static/img/article_logo/CEGIS.png" alt="CEGIS" style="width: 70px; margin-left: 5px;"></a></label>                                                                                              
                        </div>
                    </div>
                </div>
                        
            </section>
        </footer>


        <!-- Back to top button -->
        <a id="back-to-top" title="Back to Top"></a>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->

        <script src="{% static 'js/jquery.min.js' %}"></script>

        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

        <script src="{% static 'js/pre-loader.js' %}"> </script>
        <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap-select.js' %}"></script>
        <script src="{% static 'assets/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/parallaxie.js' %}"></script>
        <script src="{% static 'js/TweenMax.min.js' %}"></script>
        <script src="{% static 'js/jquery.wavify.js' %}"></script>
        <script src="{% static 'assets/wow/wow.min.js' %}"></script>
        <script src="{% static 'assets/niceselectpicker/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'assets/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/counterup/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/tooltipster/js/tooltipster.bundle.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>

        <script>
            $('#tblDocument').DataTable({
                // paging: true,
                // pageLength: 10,
                // lengthChange: true,
                // autoWidth: true,
                // searching: true,
                // bInfo: true,
                // bSort: true
            })

            $('#tblOrganization').DataTable({
                // paging: true,
                // pageLength: 10,
                // lengthChange: true,
                // autoWidth: true,
                // searching: true,
                // bInfo: true,
                // bSort: true
            })
        </script>

        
        {% block script_content %}

        {% endblock %}


    </body>
</html>